
 .bbp-breadcrumb{
	padding: 10px 20px;
	width: 100%;
	margin:0px 0px 30px 0px;

}

#bbpress-forums div.bbp-breadcrumb p, #bbpress-forums div.bbp-topic-tags p{
	margin: 0px;
	color: #fff;
	font-size: 14px;
}
#bbpress-forums div.bbp-breadcrumb p a, #bbpress-forums div.bbp-topic-tags p a{
	text-decoration: underline;
	color: #fff;

}
.bbp-breadcrumb-sep{
	margin:0px 5px 
}
div.bbp-template-notice.info{
	float: left;
	width: 100%;
	border-radius: 0;
	background-color: #f5f5f5;
	border: none;
	margin-bottom:20px;
	font-weight:300;
}
div.bbp-template-notice.info a{
	color:#333;
	font-weight:300;
	text-decoration:underline;
}
li.bbp-forum-freshness, li.bbp-topic-freshness{
	width: 25%;
}
#bbpress-forums li.bbp-header{
	border: none;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	display: table;
	width: 100%;
	padding: 0px;
	margin-bottom:15px;
}
#bbpress-forums li.bbp-header .bbp-reply-content{
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:34px;
}
#bbpress-forums li.bbp-header .bbp-reply-content *{
	display:inline-block;
	vertical-align:top;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
}
#bbpress-forums li.bbp-header .bbp-reply-content .subscription-toggle{
	line-height:14px;
	color:#fff;
}
#bbpress-forums #subscription-toggle{
	float:right;
	margin-bottom:20px;
}
#bbpress-forums .bbp-reply-content #subscription-toggle{
	margin:0px;
}
#bbpress-forums #subscription-toggle a {
	padding:15px 20px;
	line-height:14px;
	border-radius:3px;
}
#bbpress-forums li.bbp-header ul.forum-titles{
	display: table-row;

}
#bbpress-forums li.bbp-header ul.forum-titles li{
	float:left;
	width:25%;
	list-style:none;
	padding:10px 20px;
}
#bbpress-forums li.bbp-header{
	background-color:orange;
	margin:0px;
}
#bbpress-forums li{
	border-left: solid 1px;
}
#bbpress-forums li.bbp-body{
	display: table;
	width: 100%;
	border-right:solid 1px #eee;
}
#bbpress-forums li.bbp-body ul{
	display: table-row;
	list-style:none;
	margin:0px;
	padding:0px;
}
#bbpress-forums li.bbp-body ul:hover{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#bbpress-forums li.bbp-body ul li{
	border:none;
	display: table-cell;
	padding: 20px 20px;
	line-height:14px;
	margin:10px 10px;
	width:25%;
	vertical-align:middle;
	position:relative;
	border-left:solid 1px #eee;
	border-bottom:solid 1px #eee;
}
#bbpress-forums li.bbp-body .bbp-reply-content ul{
	width:100%;
	float:left;
}
#bbpress-forums li.bbp-body .bbp-reply-content ul li{
	padding:10px 15px;
	border-bottom:none;
	margin:0px;
	text-align:center;
}
#bbpress-forums li.bbp-body ul li.bbp-topic-title .bbp-topic-permalink{
	font-size:16px;
	text-transform:uppercase;
}
#bbpress-forums li.bbp-body ul li .bbp-author-name{
	color:#333;
}
#bbpress-forums li.bbp-body ul li.bbp-footer{
	background-color:#f5f5f5;
}
#bbpress-forums li.bbp-footer{
	background-color:#f5f5f5;
	list-style:none;
	margin:20px 0px;
}
.bbp-topic-form{
	float:left;
	width:100%;
}
.bbp-topic-form .bbp-form select{
	border:solid 1px #ccc;
	height:46px;
	width:100%;
	padding:6px 15px;
}
.bbp-topic-form input[type="checkbox"], .bbp-topic-form input[type="radio"]{
	height:auto;
}
.bbp-topic-form label{
	margin:0px;
	font-weight:300;
}
/*#bbpress-forums li.bbp-body ul li:before{
	content:"";
	position:absolute;
	left:0px;
	top:5px;
	bottom:5px;
	background-color:#eee;
	width:1px;
}*/

#bbpress-forums .bbp-body, #bbpress-forums .bbp-footer{
	border: none;
}
#bbpress-forums .status-closed, #bbpress-forums .status-closed a{
	color: #999;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta{
	font-size: 12px;
}
#bbpress-forums div.odd, #bbpress-forums ul.odd{
}
#bbpress-forums div.odd, #bbpress-forums div.even{
	padding:30px;
	margin-bottom:30px;
	border:solid 1px #eee;
}
#bbpress-forums div.even{
	border:solid 1px #eee;
	float:left;
	width:100%;
	
}


#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic{
	padding: 10px 20px;
}
#bbpress-forums li.bbp-body ul{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;

}
#bbpress-forums li.bbp-body ul:hover{
	background-color:#f5f5f5;
}
#bbpress-forums fieldset.bbp-form{
	float: left;
	width: 100%;
	padding: 20px;
}
#bbpress-forums fieldset.bbp-form fieldset.bbp-form{
	padding: 0px;
}
#bbpress-forums fieldset.bbp-form fieldset.bbp-form p{
	float: left;
	width: 33.333%;
	padding: 0px 20px;
	border: none;
}
#bbpress-forums fieldset.bbp-form p{
}
#bbpress-forums legend{
	float: left;
	width: 100%;
	padding: 5px 20px 15px 20px;
}
#bbpress-forums fieldset.bbp-form fieldset.bbp-form legend{
	padding: 5px 10px;
	color: #fff;
}
#bbpress-forums fieldset.bbp-form p input{
	width: 100%;

}
#bbpress-forums fieldset.bbp-form #bbp_topic_subscription{
	width: auto;
	float: left;
	margin:5px 10px 0px 0px;
	height:auto;
}
#bbpress-forums fieldset.bbp-form label{
	margin-bottom: 10px;
	font-weight:300;
}

#bbpress-forums div.bbp-the-content-wrapper{
	float: left;
	width: 100%;
}
#bbpress-forums div.bbp-the-content-wrapper textarea{
	border: solid 1px #d2d2d2;
	height: 200px;
	resize:vertical;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar{
	padding: 10px;
	float: left;
	width: 100%;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar input{
	margin: 0px 10px 0px 0px;
	float: left;
	border: none;
	background-color: #fff;
	color: #000;
	padding: 3px 15px;
	border-radius: 0px;
	box-shadow: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar input:hover{
	background-color: #000;
	color: #fff;

}
#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input{
	margin: 0px 0px 10px 0px;
}
#bbpress-forums #bbp_topic_submit, #bbpress-forums #bbp_reply_submit{
	padding: 10px 20px;
	font-size: 14px;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
}
#bbpress-forums #bbp_topic_submit:hover, #bbpress-forums #bbp_reply_submit:hover{
	background-color: #000;

}
.bbp-header .bbp-reply-author, .bbp-header .bbp-reply-content{
	padding: 8px 20px !important;
}
#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content{
	margin: 0px;
	float: left;
}
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer{
	float: left;
	width: 100%
}

div.bbp-template-notice.info{
	padding: 10px 20px;
}
div.bbp-template-notice p{
	float: left;
	width: 100%;
	margin-bottom: 0px;
}
#bbpress-forums div.bbp-topic-content a, #bbpress-forums div.bbp-reply-content a{
	margin: 0px 20px;
	color: #fff;
	text-transform: capitalize;
}


li.bbp-header #favorite-toggle{
	margin-left: 20px;
}
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar{
	margin: 0px;
}
.subscription-toggle{
	float: left;
	width: 100%;
	background-color: #535353;
	padding: 10px 0px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
.subscription-toggle:hover{
	background:#000;
	color:#fff;
}
div.bbp-template-notice, div.indicator-hint{
	float: left;
	width: 100%;
}

div.bbp-submit-wrapper{
	margin:10px 0px 0px 0px;
	float:left;
	width:100%;
}
div.bbp-submit-wrapper #bbp_topic_submit{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
}
.bbp-pagination{
	float:left;
	width:100%;
	margin-bottom:20px;
}
.bbp-replies{
	float:left;
	width:100%;
	list-style:none;
}
.bbp-replies li{
	float:left;
	width:100%;
}
.bbp-replies .bbp-header, 
.bbp-replies .bbp-footer{
	background-color:#f5f5f5;
}
.bbp-replies .bbp-header .bbp-reply-author, .bbp-replies .bbp-footer .bbp-reply-author{
	float:left;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	padding:10px 20px;
	line-height:34px;
}
.bbp-replies .bbp-footer{
	padding:20px 20px;
}
.bbp-replies .bbp-footer .bbp-reply-author, .bbp-replies .bbp-footer .bbp-reply-content{
	color:#333 !important;
	padding:0px;
	line-height:14px;
	font-size:14px !important;
	font-weight:bold;
}
.bbp-replies .bbp-header .bbp-reply-content, .bbp-replies .bbp-footer .bbp-reply-content{
	overflow:hidden;
	font-size:20px;
	color:#fff;
}
#bbpress-forums .bbp-reply-content ol{
	float:left;
	width:100%;
	padding:0px;
}
#bbpress-forums .bbp-reply-content ol li{
	border:none;
	font-weight:300;
}
.bbp-replies .bbp-body .bbp-reply-header{
	margin:0px 0px 15px 0px;
	float:left;
	width:100%;
}
#bbpress-forums .bbp-reply-content{
}
.bbp-replies .bbp-body .topic-author{
	float:left;
	width:100%;
}
.bbp-replies .bbp-body .bbp-reply-author{
	float:left;
}
.bbp-replies .bbp-body .bbp-reply-author a.bbp-author-avatar{
	display:inline-block;
	margin:0px 0px 10px 0px;
}
.bbp-replies .bbp-body .bbp-reply-content{
	overflow:hidden;
	padding:0px 0px 0px 30px;
}
.bbp-replies .bbp-body .bbp-reply-content p{
	font-weight:300;
}


#bbpress-forums .type-reply .bbp-reply-author{
	float:left;
}
#bbpress-forums .type-reply .bbp-reply-content{
	overflow:hidden;
	padding:0px 0px 0px 30px;
}
#bbpress-forums .type-reply .bbp-reply-content p{
	font-weight:300;
}
#bbpress-forums .bbp-reply-header{
	float:left;
	width:100%;
	padding:8px 15px;
	margin-bottom:20px;
	background-color:#f5f5f5;
}

.bbp-admin-links{
}
.bbp-admin-links a{
	display:inline-block;
	font-size:12px;
	text-transform:uppercase;
	line-height:12px;
	padding:10px 20px;
	margin:0px 3px;
	border-radius:2px;
	color:#fff;
	background:#ccc;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
/*color
.k-content-container .bbp-breadcrumb, #bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form fieldset.bbp-form legend, 
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar, 
#bbpress-forums #bbp_topic_submit, #bbpress-forums #bbp_reply_submit{
	background-color: #81d742 ;

}
*/
