.countdown {
    font-weight: normal;
    text-align: right;
}
.kode-countdown {
    float: left;
    padding: 42px 0 0;
    width: 100%;
}
.countdown .item.item-dd { display: none; }
.countdown .item {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #333;
    padding: 0px -4px 0px 20px;
    width: 25%;
    position: relative;
}
.countdown .item:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: -26px 0px 0px 0px;
    z-index: 0;
}
.countdown .item:last-child:before { display: none; }
.countdown .item span {
    display: inline-block;
    background-color: #ffffff;
    width: 53px;
    height: 57px;
    text-align: center;
    margin-left: 3px;
    padding: 7px 0px 0px 0px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    position: relative;
}
.countdown .item span.label {
    text-transform: uppercase;
    float: left;
    width: 100%;
    line-height: normal;
    font-size: 18px;
    color: #ffffff;
    background: none;
    box-shadow: none;
    padding: 15px 0px 0px 0px;
}
.countdown .item-hh .label,
.countdown .item-mm .label,
.countdown .item-ss .label {
    
}

/* COUNTDOWN-ALT-1 */
/* ----------------------------------------------------------------------------------------- */
.countdown-alt-1 {
    display: block;
    font-size: 0;  /* Hack for inline and inline-block extra markup generated spaces */
    margin: 100px 0;
    color: #000;
}
.countdown-alt-1 .item {
    position: relative;
}
.countdown-alt-1 .dd,
.countdown-alt-1 .hh-1,
.countdown-alt-1 .hh-2,
.countdown-alt-1 .mm-1,
.countdown-alt-1 .mm-2,
.countdown-alt-1 .ss-1,
.countdown-alt-1 .ss-2 {
    font-family: 'Righteous', cursive;
    background: #F6F6F6;
    border-radius: 10px;
    display: inline-block;
    font-size: 60px;
    margin: 1px 2px;
    min-width: 40px;
    padding: 5px 16px;
    text-align: center;
}
.countdown-alt-1 .hh-1,
.countdown-alt-1 .hh-2,
.countdown-alt-1 .mm-1,
.countdown-alt-1 .mm-2,
.countdown-alt-1 .ss-1,
.countdown-alt-1 .ss-2 {
    width: 40px;
    max-width: 40px;
}
.countdown-alt-1 .label {
    font-style: italic;
    text-transform: capitalize;
    background: #F6F6F6;
    border-radius: 5px;
    font-size: 12px;
    margin: 1px 2px;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    bottom: -44px;
}
.countdown-alt-1 .separator-dd,
.countdown-alt-1 .separator {
    color: #FFF;
    font-size: 40px;
    position: relative;
}

/* COUNTDOWN-ALT-2 - Inspiration http://goo.gl/hRfsc */
/* ----------------------------------------------------------------------------------------- */
.countdown-alt-2 {
    font-size: 0;  /* Hack for inline and inline-block extra markup generated spaces */
    display: block;
    overflow: auto;
    padding: 20px 0;
    margin: 50px 0;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #333;
    -webkit-transform: skew(-2deg, -2deg);
    transform: skew(-2deg, -2deg);
}
.countdown-alt-2 .item {
    display: block;
    float: left;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    padding: 36px 20px 10px 20px;
    margin: 0 10px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    background: #FFF;
    border: 2px solid #FFF;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}
.countdown-alt-2 .dd,
.countdown-alt-2 .hh-1,
.countdown-alt-2 .hh-2,
.countdown-alt-2 .mm-1,
.countdown-alt-2 .mm-2,
.countdown-alt-2 .ss-1,
.countdown-alt-2 .ss-2 {
    font: italic;
    text-shadow: 1px 1px 10px #FFF, 1px 1px 3px #333;
}
.countdown-alt-2 .label {
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    width: 120px;
    padding: 5px 10px;
    background: #0B81BC;
    color: #FFF;
}

/* jQuery Countdown styles 2.0.0. */
.is-countdown {
	width:60%;
	display:inline-block;
	margin:0px auto;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	display:inline-block;
	font-size: 75%;
	text-align: center;
	padding:5% 0px;
	position:relative;
}

.countdown-amount {
    font-size: 40px;
	color:#fff;
	font-weight:bold;
}
.countdown-period {
    display: block;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
}
.countdown-descr {
	display: block;
	width: 100%;
}
