/*Default Widget Styling For Test Unit*/
.widget_nav_menu ul,
.widget_rss ul,
.widget_pages ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.widget_nav_menu ul ul,
.widget_pages ul ul,
.widget_meta ul ul,
.widget_recent_comments ul ul,
.widget_archive ul ul,
.widget_categories ul ul,
.widget_recent_entries ul ul{
    padding-left: 15px;
    margin: 5px 0px 0px 0px;
}
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_recent_entries ul li{
    float: left;
    width: 100%;
    overflow: hidden;
    line-height: 16px;
    text-align: right;
    margin: 0;
    padding: 10px 0px 0px;
    border-top: 1px solid #c6c6c6;
    transition: all 0.3s ease-in-out;
}
.widget_nav_menu ul:first-child,
.widget_pages ul li:first-child,
.widget_meta ul li:first-child,
.widget_recent_comments ul li:first-child,
.widget_categories ul li:first-child,
.widget_archive ul li:first-child,
.widget_recent_entries ul li:first-child{
	border:none;
}
.widget_nav_menu ul ul li:first-child,
.widget_pages ul ul li:first-child,
.widget_meta ul ul li:first-child,
.widget_recent_comments ul ul li:first-child,
.widget_categories ul ul li:first-child,
.widget_archive ul ul li:first-child,
.widget_recent_entries ul ul li:first-child{
	border-top:1px solid;
}
.widget_pages ul li:hover,
.widget_meta ul li:hover,
.widget_categories ul li:hover,
.widget_archive ul li:hover,
.widget_recent_entries ul li:hover{
    padding-left: 10px;
}
/*Left Padding 0 on Hover*/
.widget_recent_comments ul li:hover,
.widget_recent_entries ul li:hover{
	padding-left: 0;
}
.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_recent_comments ul li a,
.widget_recent_entries ul li a {
    float: left;
    width: auto !important;
    color: #666;
    font-size: 13px !important;
    text-align: left;
    font-weight: bold;    
    padding :0 0 0 15px !important;
    position: relative;
    line-height: normal;
    margin-bottom: 11px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.widget_nav_menu ul li a:before,
.widget_pages ul li a:before,
.widget_meta ul li a:before,
.widget_categories ul li a:before,
.widget_archive ul li a:before,
.widget_recent_entries ul li a::before {
    top: 50%;
    left: 0px;
    content: "";
    font-size: 16px;
    margin: -11px 0 0;
    position: absolute;
	color: currentColor; 
    font-family: "FontAwesome";
}
/*WIDGET RECENT COMMENTS
.widget_recent_comments ul li span,
.widget_recent_comments ul li {
    font-size: 13px !important;
    font-weight: bold;
    padding-bottom: 11px;
    text-align: left !important;
    text-transform: uppercase;
}*/
.widget_recent_comments ul li a{
	float: none !important;
    padding: 0 !important;
    line-height: 13px;
    background: transparent !important;
    display: inline-block !important;
}
.widget_recent_comments ul li{
    padding: 11px 0;
}
.widget_recent_comments ul li {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    line-height: 13px;
    text-transform: uppercase;
}
/*Widget Rss*/
.widget_rss ul li {
    float: left;
    font-size: 13px !important;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    text-align: left !important;
    text-transform: capitalize;
    width: 100%;
}
.screen-reader-text,
.calendar_wrap  caption{
	color: #333;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.rss-date{
	float: left;
	width: 100%;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
.rsswidget{
	float: left;
	width: 100%;
	color: #333;
	font-size:18px;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.widget-title a.rsswidget{
	margin-right: 10px;
	width: auto;
}
.textwidget strong{
	float: left;
	width: 100%;
	color: #666;
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
#wp-calendar td,
#wp-calendar th{
    padding: 10px !important;
}
/*Side Bar COLOR*/
.kode-sidebar-menu-element .widget_tag_cloud .tagcloud a,
.kode-sidebar-menu-element .newsletter_dec .radio_style2 .radio_dec > span,
.kode-sidebar-menu-element .newsletter_dec em,
.kode-sidebar-menu-element .newsletter_dec h6,
.kode-sidebar-menu-element .newsletter_dec p,
.kode-sidebar-menu-element .textwidget select,
.kode-sidebar-menu-element .textwidget select option,
.kode-sidebar-menu-element .widget_pages ul li a::before,
.kode-sidebar-menu-element .widget_pages ul li a,
.kode-sidebar-menu-element .widget_nav_menu ul li a,
.kode-sidebar-menu-element #archives-dropdown--1,
.kode-sidebar-menu-element #archives-dropdown--1 option,
.kode-sidebar-menu-element #cat,
.kode-sidebar-menu-element #cat option,
.kode-sidebar-menu-element .widget_nav_menu ul li a,
.kode-sidebar-menu-element .widget_categories ul li,
.kode-sidebar-menu-element .screen-reader-text,
.kode-sidebar-menu-element #wp-calendar th,
.kode-sidebar-menu-element .calendar_wrap  caption,
.kode-sidebar-menu-element .textwidget strong,
.kode-sidebar-menu-element .rsswidget,
.kode-sidebar-menu-element .rss-date,
.kode-sidebar-menu-element .rssSummary,
.kode-sidebar-menu-element .calendar_wrap  .caption,
.kode-sidebar-menu-element .calendar_wrap td,
.kode-sidebar-menu-element .widget_archive ul li a,
.kode-sidebar-menu-element .widget_recent_comments li a,
.kode-sidebar-menu-element .widget_meta ul li a,
.kode-sidebar-menu-element .widget_categories ul li a ,
.kode-sidebar-menu-element .widget_recent_entries ul li a,
.kode-sidebar-menu-element .prev,
.kode-sidebar-menu-element #next,
.kode-sidebar-menu-element #next a,
.kode-sidebar-menu-element #wp-calendar a,
.kode-sidebar-menu-element #prev a,
.kode-sidebar-menu-element cite,
.kode-sidebar-menu-element .widget-search .kode-search input[type="text"]
{
	color: inherit !important;
}
/*Footer Widget*/
footer .widget{
	margin-bottom: 30px;
}
footer .widget_text select,
footer #cat option,
footer #archives-dropdown--1 option,
footer .textwidget select option{
	background: #999;
}
#wp-calendar .pad,
footer #cat,
footer .calendar_wrap thead tr,
footer .textwidget select,
footer #archives-dropdown--1,
footer .widget_text select{
	background-color: transparent ;
}
/*FOOTER COLOR*/
footer .textwidget p,
footer #wp-calendar td,
footer #wp-calendar th,
footer .widget_tag_cloud .tagcloud a,
footer .newsletter_dec .radio_style2 .radio_dec > span,
footer .newsletter_dec em,
footer .newsletter_dec h6,
footer .newsletter_dec p,
footer .textwidget select,
footer .textwidget select option,
footer .widget_pages ul li a::before,
footer .widget_pages ul li a,
footer .widget_nav_menu ul li a,
footer #archives-dropdown--1,
footer #archives-dropdown--1 option,
footer #cat,
footer #cat option,
footer .widget_nav_menu ul li a,
footer .widget_categories ul li,
footer .screen-reader-text,
footer #wp-calendar th,
footer .calendar_wrap  caption,
footer .textwidget strong,
footer .rsswidget,
footer .rss-date,
footer .rssSummary,
footer .calendar_wrap  .caption,
footer .calendar_wrap td,
footer .widget_archive ul li,
footer .widget_archive ul li a,
footer .widget_recent_comments li,
footer .widget_recent_comments li a,
footer .widget_meta ul li a,
footer .widget_meta ul li,
footer .widget_categories ul li,
footer .widget_categories ul li a ,
footer .widget_recent_entries ul li,
footer .widget_recent_entries ul li a,
footer .prev,
footer #next,
footer #next a,
footer #wp-calendar a,
footer #prev a,
footer cite,
footer .widget_recent_comments ul li,
footer .widget-search .kode-search input[type="text"]
{
	color: #fff !important;
}
footer .widget_archive li,
footer #wp-calendar,
footer #wp-calendar th,
footer .calendar_wrap td{
	border-color: #fff;
}
