/*
=================================================
				UP FROM 1200PX
=================================================
*/ 
@media (min-width: 1200px) {
 
}
/*
=================================================
			FROM 992PX TO 1199PX
=================================================
*/ 
@media (min-width: 992px) and (max-width: 1199px) {
	.kode-slider-item li .kode-caption-wrapper{
		width: 970px;
	}
	.kode-navigation-wrapper ul li a{
		padding:10px 7px; 
	}
	.top_nav li a, .login_wrap li a{
		padding:11px 10px; 
	}
	h3{
		font-size: 24px;
	}
	h5{
		font-size: 18px;
	}
	.kf_edu2_intro_wrap::before{
		width: 40%;
	}
	.kf_intro_des_wrap{
		width: 60%;
	}
	.edu2_gallery_des ul li{
		line-height: normal;
		margin: 0px;
	}
	.edu2_gallery_des ul li a{
		line-height: normal;
		font-weight: normal;

	}
	.wiget-instagram ul li {
		width: 60px
	}
	.edu2_event_wrap.side_change{
		padding: 30px 30px 20px 220px
	}
	.edu2_event_wrap{
		padding: 30px 220px 20px 30px
	}
	.edu2_event_wrap figure{
		width: 200px;
	}
	.edu2_event_wrap .post-option > li{
		line-height: normal;
	}
	.edu2_event_wrap.side_change .post-option li{
		margin: 0px;
		float: right;
		
	}
	.edu2_event_wrap .post-option{
		margin: 0px;
	}
	.edu2_event_wrap .edu2_event_des{
		padding: 0px;
	}
	.edu2_event_des span{
		font-size: 52px;
		top: 0px;
	}
	.edu2_event_wrap .edu2_event_des h4{
		margin-bottom: 15px; 
	}
	.edu2_event_des p{
		line-height: normal;
		margin: 0px;
	}
	.edu2_event_wrap figure{
		margin-top: -76px;
	}
	.kf_courses_wrap figure{
		margin-bottom: 30px;
	}
	.nav_2{
		padding: 26px 0;
	}
	.top_bar_2 [class*="col"]{
		width: auto;
	}
	.top_bar_2 .col-md-7{
		float: right;
	}
	.cards_wrap li a{
		float: left;
		width: 36px;
	}
	.abt_univ_des{
		margin: 0 0 30px;
	}
	.widget-recent-posts figure{
		width: 80px;
	}
	.widget-recent-posts .kode-text{
		padding: 0 0 0 100px;
	}
	.widget-recent-posts h6{
		font-size: 12px;
	}
	.edu2_event_des .post-option > li i{
		display: none;
	}
	.edu2_col_3_des .edu2_col_3_ftr > a,
	.edu2_cur_ftr_strip > h6{
		font-size: 12px;
		text-transform: uppercase;
	}
	.inr_pg_search_wrap{
		margin-top: 0;
	}
	.kf_event_list_des{
		padding: 0;
	}
	.skill_progress_des{
		padding-top: 36px;
	}
	.woocommerce ul.products li.product h3{
		float: left;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}

}
/*
=================================================
			FROM 0PX TO 979PX
=================================================
*/ 
@media (max-width: 991px) {
	.edu2_cur_ftr_strip > h6{
		font-size: 10px;
	}
	.kode-slider-item li .kode-caption-wrapper{
		width: 750px;
	}
	.kode-navigation-wrapper,
	#mobile-header{
		display:none;
	}
	.kode_navigation .nav_2{
		padding: 49px 0 0;
	}
	.kode_navigation  .c-button {
	    margin-right: 15px;
	    padding: 7px 15px;
	}
	.kode_navigation .dl-menuwrapper{
		position: relative;
		float: right;
		margin: 0;
		right: auto;
		top: auto;
	}
	.kode_navigation [class*="col"]{
		width: auto;
		float: left;
	}
	.kode_navigation .col-md-10{
		float: right !important;
	}
	.nav_2{
		padding: 0;
	}
	.kode_navigation .container{
		position: relative;
	}
	.kode_navigation .container [class*="col-md"]{
		position: static;
	}
	.nav_2 > ul {
	    display: none;
	}
	#header_2 .top_bar_2 .container .row div:first-child{
		display: none;
	}
	#header_2 .top_bar_2 .container .row > div{
		width: 100%;
		float: left;
	}
	#header_2 .top_nav{
		float: left;
	}
	.logo_wrap{
		text-align: center;
	}
	.dl-menuwrapper {
	    display: block;
	}
	.dl-menuwrapper .dl-menu {
	    right: 0;	
	    left: auto;
	}
	.dl-menuwrapper li{
		float: left;
		width: 100%;
	}
	.edu2_main_bn_wrap .owl-theme .owl-pagination{
		bottom: 10px;
	}

	.edu2_main_bn_wrap figcaption h2{
		font-size: 40px;
	}
	.kf_edu2_intro_wrap::before{
		width: 30%;
	}
	.kf_intro_des_wrap{
		width: 70%;
	}

	.kf_edu2_heading2 h3, .kf_edu2_heading1 h3{
		font-size: 26px;
	}
	.kf_edu2_training_des figure{
		width: auto;
		left: -150px;
	}
	.edu2_pricing_des{
		margin-bottom: 30px;
	}
	footer .widget{
		margin-bottom: 30px;
		border-bottom: solid 1px rgba(0,,0)
	}
	.edu2_copyright_wrap{
		text-align: center;
	}
	.edu2_ft_logo_wrap{
		display: inline-block;
		float: none;
	}
	.abt_univ_wrap{
		margin-bottom: 30px
	}
	.edu2_event_wrap.side_change .post-option > li{
		display: inline-block;
		float: none;
	}
	.edu2_event_wrap.side_change .post-option {
		text-align: right;
	}
	.kf_event_list_des{
		padding: 20px 20px 20px 0 
	}
	.kf_event_list_des p{
		line-height: 24px;
	}
	.kf_event_gallery{
		margin-bottom: 30px;
	}
	.kf-sidebar div.widget:first-child{
		margin-top: 30px;

	}
	#filterable-item-filter-1 a{
		padding:5px 10px; 
	}
	.error_thumb{
		width: 80%;
	}
	.error_des{
		padding: 0 30px;
	}
	.error_thumb{
		bottom: -42px;
	}
	.error_des span{
		top: -120px;
	}
	#header_2 .top_bar_2 .container .row div.lng_wrap, #header_2 .top_bar_2 .container .row div.lng_wrap > div{
		display: block;
	}

	.kf_services_style_2.kode-type-2{
		float: left;
		width: 100%;
		background-color: #fff;
		margin-bottom: 30px;
	}
	.kode-style-gal-simple-gallery .kode-padding-free .gallery-item{
		float: left;
		width: 50%;
	}
	.edu2_counter_des{
		border-left: none;
		border-width:1px 0 0 0;
	}
	.edu2_faculty_des figcaption a{
		width: 26px;
		height: 26px;
		line-height: 26px;
	}
	.edu2_faculty_des2 h6{
		font-size: 16px;
	}
	.edu2_faculty_des2{
		padding-left: 10px;
		padding-right: 10px;
	}
	.kf_edu2_training_des{
		display: none;
	}
	.edu2_ft_topbar_des h5{
		text-align: center;
	}
	.student_slider_wrap{
		padding: 0 30px;
	}
	.student_slider_thumb a{
		height: auto;
	}
	.map_widget{
		margin-bottom: 30px;
	}
	.inner-post h6{
		float: left;
		width: 100%;
		font-size: 16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
	.edu2_blogpg_des ul li{
		margin-right: 10px;
	}
	.widget.widget_university_education_compact_contact_widget.kode-widget{
		padding: 0 15px;
	}
	.inr_pg_search_wrap{
		margin-top: 0;
	}
	.kode-gallery .clear,
	li.clear{
		display: none;
	}
	.woocommerce-content ul.products li{
		width: 31.3%;
	}
	.woocommerce ul.products li.product h3{
		float: left;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.woocommerce .coupon .button{
		float: left !important;
		width: auto;
	}

}
/*
=================================================
			FROM 768PX TO 979PX
=================================================
*/

@media (min-width: 768px) and (max-width: 979px) {
	.shop_table .actions > .button{
		top: -55px;
	}
  
}
/*
=================================================
			FROM 0PX TO 767PX
=================================================
*/
@media (max-width: 767px) {
	.kf_courses_tabs .nav-tabs > li > a, .kf_courses_tabs .nav-tabs > li.active > a:focus, .kf_courses_tabs .nav-tabs > li.active > a:hover{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.detail_wrap_final > li{
		width: 50%;
	}
	.table_codes ul li span b{
		font-size: 12px;
	}
	.table_codes{
		padding: 0;
	}
	.picture-column-small{
		padding-bottom: 13px;
	}
	.woocommerce .coupon label{
		width: 100%;
		margin: 0 0 30px;
	}
	.shop_table .actions > .button{
		top: -55px;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		width: 25.3% !important;
	}
	.edu2_gallery_des{
		margin-bottom: 30px;
	}
	.kode-style-gal-simple-gallery .gallery-item{
		margin-bottom: 0;
	}
	.top_bar_2 .modal-dialog{
		width: 470px !important;
	}
	.login_wrap{
		float: left !important;
	}
	.kode-slider-item .kode-caption-wrapper .kode-caption-title{
		font-size: 25px;
		margin-bottom:15px;
		line-height: normal; 
	}
	.kode-slider-item .kode-caption-wrapper .kode-caption-text{
		line-height: normal;
		font-size: 18px;
		margin-bottom: 15px;
	}
	.kode-slider-item li .kode-caption-wrapper{
		width: 100%;
		padding: 0 15px;
	}
	#kode-header{
		position:relative;
	}

	.top_nav{
		display: none;
	}
	.edu2_main_bn_wrap figcaption span, .edu2_main_bn_wrap figcaption p, .edu2_main_bn_wrap .btn-1{
		display: none;
	}
	.edu2_main_bn_wrap figcaption h2{
		font-size: 30px;
	}
	.edu2_main_bn_wrap figure figcaption{
		margin: 0px;
		padding:0px 50px;
		top: 30%;
	}
	.kf_intro_des{
		width: 100%;
		margin: 15px 0px;
	}
	.kf_intro_des_wrap{
		width: 100%;
	}
	.kf_edu2_intro_wrap::before{
		width:100%;
		opacity: 0.1
	}
	.edu2_counter_des{
		width: 100%;
		border-right: none;
		border-top: solid 1px rgba(255,255,255,0.3); 
	}
	.edu2_event_des{
		margin-bottom: 30px;
		width: 100%;
		margin-top: 10px;
	}
	.student_slider_thumb{
		display: none;
	}
	.edu2_event_wrap{
		padding: 20px;
	}
	.edu2_event_wrap::before{
		right: 0px;
	}
	.edu2_event_wrap .edu2_event_des{
		width: 100%;
	}
	.edu2_event_wrap figure{
		position: relative;
		float: left;
		width: 100%;
		margin: 0px;
	}
	.side_change::before{
		left: 0px;
	}
	.kf_event_list_wrap{
		padding:30px;
	}
	.kf_event_speakers_des{
		margin-bottom: 30px;
	}
	.event_gallery_des{
		float: none;
		margin: 0 -1%;
		width: auto;
	}
	
	 .event_gallery_des li{
		width: 48%;
		margin: 1% 1%;
	}
	.event_gallery_des li img{
		width: 100%;
	}
	.event_link{
		margin-top: 30px;
	}
	
	.kf_courses_tabs .nav-tabs > li{
		width: 100%;
	}
	.kf_courses_tabs .nav-tabs > li a{
		padding:10px 10px; 
	}
	/*
	.kf_inr_breadcrumb{
		display: none;
	}
	*/
	.inr_banner_heading{
		width: 100%;
	}
	.teacher_bio_logo{
		width: 100%;
	}
	.teacher_bio_des ul li{
		margin-right: 15px;
	}
	.skill_progress_des{
		padding: 30px;
	}
	.kf_training_des{
		padding:30px;
		width: 100%; 
	}
	.kf_training_date{
		width: 100%;
		padding:30px 30px 0px 30px;
		text-align: left; 
	}
	.kf_training_wrap li:nth-child(2n) .kf_training_date{
		padding:30px 30px 0px 30px 
	}
	.kf_training_wrap ul li::before, .kf_training_wrap ul li::after{
		display: none;
	}
	.kf_training_wrap ul li{
		border: solid 1px #ccc;
		margin-bottom: 20px;
		padding: 0px;

	}
	.kf_training_wrap li:nth-child(2n) .kf_training_des{
		padding:30px 30px 30px 30px;
		text-align: left;
	}
	.filterable_thumb figure{
		margin:0px; 

	}
	.error_des span{
		font-size: 140px;
		top: -90px;
	}
	.error_wrap{
		padding: 98px 0 0px
	}
	.error_thumb{
		width: 100%;
		position: static;
		float: left;
	}
	.error_thumb figure img{
		width: 100%;
		max-width: inherit;

	}
	/*
	.location_des{
		margin: -182px 0 0 -63px
	}
	*/
	.kf_courses_wrap figure{
		margin-bottom: 30px;
	}
	#filterable-item-filter-1 li{
		margin:3px;
	}
	.edu2_faculty_des figcaption a{
		width: 36px;
		height: 36px;
		line-height: 36px;
	}
	.edu2_training_wrap h2{
		font-size: 29px;
	}
	footer .widget h5{
		float: left;
		width: 100%;
	}
	footer .widget{
		float: left;
		width: 100%;
	}
	.kf_inr_ban_des div{
		width: auto;
	}
	.abt_univ_des{
		margin-bottom: 30px;
	}
	.edu2_blogpg_des ul.kode-post-meta{
		margin-top: 40px;
	}
	.edu2_blogpg_des h5 a{
		font-size: 20px;
	}
	.blog_3_des h5 {
	    text-overflow: ellipsis;
	    text-transform: uppercase;
	    white-space: nowrap;
	    overflow: hidden;
	}
	.about_autor figure{
		width: 100px;
	}
	.inr_pg_search_wrap form > button{
		width: 26.7%;
	}
	.search_bar_des{
		width: 73.3%;
	}
	.woocommerce-ordering{
		width: 35%;
	}
	.woocommerce div.product div.summary,
	.woocommerce div.product div.images{
		padding: 0;
		width: 100%;
	}
	.kf_courses_tabs .nav-tabs > li > a, .kf_courses_tabs .nav-tabs > li.active > a:focus, .kf_courses_tabs .nav-tabs > li.active > a:hover{
		padding: 15px 20px !important;
	}
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 480px) {
	.course-detail-final .kf_courses_tabs .nav-tabs > li{
		width: 50%;
	}
	.table_codes ul li{
		width: 27%;
	}
	.table_codes ul li:nth-child(2){
		width: 45%;
		padding-left: 5px;
	}
	.detail_wrap_final > li{
		width: 100%;
	}
	.thumb_slider .pager ul li{
		width: 33.3%;
		margin: 0 0 15px;
	}
	.kf_check-services li{
		width: 100%;
	}
	.course-detail-final h4{
		font-size: 18px;
	}
	.detail_wrap_final > li::before{
		display: none;
	}
	.woocommerce form.login p.lost_password{
		float: left;
		top: 0;
	}
	.woocommerce div.product .woocommerce-tabs .panel{
		padding: 0 !important;
	}
	.c-menu--slide-left, .c-menu--slide-right, .c-menu--push-left, .c-menu--push-right{
		width: 320px !important;
	}
	.top_bar_2 .modal-dialog{
		width: 300px !important;
	}
	.kode-slider-item .kode-caption-wrapper .kode-caption-text{
		display: none;
	}
	.kode-slider-item .kode-caption-wrapper .kode-caption-title{
		font-size: 18px;
	}
	.kode_btn_store_1, .btn-1{
		padding: 6px 25px 7px;
	}
	.kode_navigation .nav_2{
		padding-top: 30px;
	}
	.lng_wrap button{
		padding: 10px 
	}
	.logo_wrap img{
		width: 140px;
	}
	.location_des{
		padding: 20px;
	}
	.edu2_main_bn_wrap figcaption h2{
		font-size: 20px;
	}
	.kf_edu2_heading2 h3, .kf_edu2_heading1 h3{
		font-size: 20px;
	}
	body{
		line-height: 24px;
	}
	.edu2_training_wrap h2{
		font-size: 30px;
	}
	.edu2_training_wrap .countdown li{
		margin: 0px 1px;
		width: 65px;
	}
	.kf_edu2_training_des{
		display: none;
	}
	.edu_testemonial_wrap figure{
		float: left;
		width: 100%;
		height: auto;
		position: static;
	}
	.edu_testemonial_wrap .kode-text{
		padding: 20px 0px 0px 0px;
		float: left;
		width: 100%;
	}
	.edu_testemonial_wrap{
		padding:20px
	}
	.convocation_link{
		padding: 15px 19px; 
	}
	.comment_wrap figure{
		float: none;
		display: block;
		margin: 0 auto;
	}
	.comment_des{
		float: left;
		width: 100%;
		padding: 15px 0 0;
	}
	.search_bar_des{
		width: 100%;
	}
	.search_bar_des > input[type="search"], .search_bar_des .selectric-wrapper, .inr_pg_search_wrap form > button{
		width: 100%;
		margin: 10px 0px;
	}
	.inr_pg_search_wrap{
		padding: 10px 20px
	}
	.teacher_bio_des ul li{
		width: 100%;
		margin: 3px 0px;
	}
	.kf_inr_ban_des h3{
		font-size: 26px;
	}
	h3{
		font-size: 26px
	}
	.filterable_heading .btn-group{
		width: 100%;
		margin: 20px 0px;
	}
	.kode-style-gal-simple-gallery .kode-padding-free .gallery-item{
		width: 100%;
	}
	.edu2_training_wrap h2{
		font-size: 28px;
	}
	.edu2_training_wrap .downcount li{
		width: 60px;
		margin: 0 4px;
	}
	.kf_inr_ban_des div{
		width: 100%;
		text-align: center;
	}
	.kode-breadcrumb.breadcrumb{
		float: none;
		text-align: center;
		display: inline-block;
	}
	.widget-recent-posts figure{
		width: 80px;
	}
	.widget-recent-posts .kode-text{
		padding: 0 0 0 95px;
	}
	.widget-recent-posts h6{
		font-size: 12px;
	}
	.widget-courses-list ul li{
		width: 73px;
	}
	.kf_pagination li{
		width: 100%;
	}
	.kf_blog_detail_tag a{
		margin: 0 4px 5px;
	}
	.kf_blog_social_icon{
		width: 100%;
		float: left;
	}
	.about-autor_des{
		width: 100%;
		padding:30px 0 0;
		text-align: center;
	}
	.about_autor figure{
		float: none;
		display: block;
		margin: 0 auto;
	}
	.autor_social{
		width: 100%;
		text-align: center;
	}
	.autor_social li{
		float: none;
		display: inline-block;
	}
	.autor_social li:first-child{
		margin: 0;
	}
	.kode-recent-posts h4{
		font-size: 20px;
	}
	.kf_inr_breadcrumb .breadcrumb li, .kf_inr_breadcrumb ul li{
		margin: 0  0 10px;
	}
	.comment_des{
		text-align: center;
	}
	.comment_des_hed cite span{
		padding-left: 10px;
		margin-left: 10px;
	}
	.coment_list .children{
		padding: 0 0 0 10px;
	}
	[class*="col-md"]{
		float: left;
		width: 100%;
	}
	.edu2_col_3_des{
		padding-left: 10px;
		padding-right: 10px;
	}

	.search_bar_des > input[type="text"], 
	.search_bar_des > input[type="search"],
	.inr_pg_search_wrap form > button,
	.search_bar_des .selectric-wrapper,
	.search_bar_des{
		width: 100%;
		margin: 0px;
	}
	.search_bar_des .selectric-wrapper{
		margin: 10px 0;
	}
	.kf_event_list_wrap{
		padding:10px;
	}
	.kf_event_list_des{
		padding: 0;
	}
	.event_link{
		padding-left: 15px;
		padding-right: 15px;
	}
	.convocation_timing li{
		margin-right: 13px;
	}
	.user-box{
		padding-left: 15px;
		padding-right: 15px;
	}
	.teacher_bio_logo h3 {
	    float: right;
	    padding: 21px 14px;
	    font-size: 20px;
	    width: auto;
	}
	.teacher_bio_des{
		text-align: center;
	}
	.error_outer_wrap {
	    padding: 60px 0 60px;
	}
	.error_thumb figure img{
		min-height: 80px;
	}
	.woocommerce-ordering{
		width: 50%;
	}
	.woocommerce-content ul.products li{
		width: 100% !important;
	}
	#order_review_heading, .woocommerce-shipping-fields h3, .woocommerce-billing-fields h3, .woocommerce-content .page-title, .kf_edu2_heading1 h3{
		font-size: 23px;
	}
	.related.products h2, .woocommerce-Tabs-panel h2, .woocommerce div.product .product_title{
		font-size: 22px;
	}
	.woocommerce #review_form #respond p .selectric-wrapper{
		width: 100%;
	}
	.woocommerce p.stars a{
		margin-right: 9px;
	}
	.woocommerce #review_form #respond p .stars{
		margin: 15px 0px;
	}
	.comment-form-email, .comment-form-author{
		width: 100% !important;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		width: 100% !important;
		margin: 0 0 30px;
	}
	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
	}
	.kf_instrator_section figure{
		display: block;
		float: none;
		margin: 0 auto;
	}
	.kf_instrator_caption{
		float: left;
		width: 100%;
		padding:30px 0 0;
		text-align: center;
	}
	.kf_instrator_caption h5{
		float: left;
		width: 100%;
	}
	.rateing_box{
		width: 100%;
	}
	.progress_rateing_progress{
		width: 100%;
	}
	.side-navigation{
		padding: 30px 10px;
	}
}