body, 
.kf_blog_post_wrap,
.kf_twitter_msg,
.kf_schedule_wrap,
.property-full-size-wrapper{
	direction: rtl;
}
body [class*="col"],
.kf_opening_time,
.kf_callus i,
ul.kf_schedule_room,
.kf_schedule_visit,
.kf_property_meta h5,
.kf_property_view,
.kf_leased_property,
.kf_property_view span,
.kf_twitter_logo,
.kf_twitter_msg,
.kode-like.fa::before,
.kf_foo_latest_post figure,
ul.kf_foo_listing_meta li i,
ul.kf_schedule_room li,
.kf_schedule_visit h4,
.kf_recent_property_meta ul li i,
.kf_search_field label,
.user-profile-title,
.user-profile ul li a i,
.kf_blog2_date,
.kf_blog_detail_tag .kf_tag_icon,
.kf_blog_detail_tag ul.kf_tag_list,
.kode-admin-post figure,
.kf_property_img,
.kf_comment_wrap figure,
p.form-submit,
.kf_property_caption,
.kf_property_more,
.kf_listing_03_wrap .kf_property_img_03,.kf_listing_03_wrap .kf_property_img_03 figure,
 .kf_listing_03_des > a,
.kf_listing_03_wrap .kf_listing_03_des .kf_property_caption,
.kf_property_detail_Essentail a,
.kf_property_detail_Essentail a::before,
.kode-sidebar-map ul li,
.kf_property_detail_real,
.kf_404_wrap h2:last-child,
.flickr_badge_image, .kf_aside_fea_properties ul li,
.widget-filter .radio,
.widget-filter .option-item,
.kf_member_contact_detail ul li,
.kf_login_password ul li,
.kf_core_value_wrap .nav-tabs > li,
.kf_core_value_des figure,
ul.kf_aboutus_list li,
.kf_with_us_social ul li,
.kf_with_us_addres,
.kf_aside_category ul li a, .widget_categories ul li a,
.kf_testimonial_slide figure,
.kf_with_us_addres i,
.kode-left-comment-sec,
.kf_aside_fea_agent ul li figure,
.kf_author_pic,
.kf_submit_add_outer_wrap.kode-user-profile > h5
{
	float: right;
}
.kf_pagination .pagination .pull-left{
	float: right !important;
}



.user-profile,
.kf_top_social_icon,
.user-profile .dropdown,
.user-profile .dropdown button img,
.kf_schedule_visit > a,
.kf_view_type,
.kf_rent_property_des ul li span,
.kf_rent_total_price,
.kf_search_field.kf_search_field > .amount,
.kf_range_slider span:nth-of-type(2),
.user-profile-figure,
.kf_property_breadcrumb ul,
.kf_blog_detail_tag ul.kf_blog_social_icon,
.kf_property_place > h5,
.kf_comment_des > a,
.kf_listing_03_des ul.kf_recent_rating,
.kf_listing_03_des ul.kf_recent_rating li,
.kf_404_wrap h2:first-child,
.kf_list_free,
.goal_heading span,
.kode-textarea
{
	float: left;
}
.kode-sidebar .kf_range_slider span:nth-of-type(2),
.pagination .pull-right{
	float: left !important;
}
.bx-wrapper,
.owl-stage, .owl-carousel .owl-stage-outer, .flexslider, .owl-carousel {
	direction: ltr;
}

.kf_like_property,
.kf_video_wrap p a > i,
.kf_blog_detail_tag ul.kf_blog_social_icon,
.kf_aside_category ul li, .widget_categories ul li,
.kf_search_field.kf_search_field > .amount{
	text-align: left;
}
body .kf_leased_property [class*="col"],
.kf_leased_property .kf_like_property,
 .kode-parallax-wrapper,
 .kf_404_wrap,
 .kf_login_colum
{
	float: none !important;
}

.kf_schedule_wrap,
ul.kf_schedule_room,
.kf_main_navigation ul ul li a,
.kf_rent_property_des ul li i,
.pet_love_content_list.pet_1,
.user-profile-title,
#error-page p,
.dropdown-menu > ul > li > a, .user-profile > ul > li > a,
.kf_login_password ul li,
.kf_loging_input > select,
.kf_login_forgrt a,
.kf_login_forgrt p,
.kf_loging_input input[type="password"], .kf_loging_input input[type="text"],
.member_contact_des,
.kf_with_us_form input[type="text"], .kf_with_us_form input[type="email"],
.kf_with_us_form button,
.kf_aside_category ul li a, .widget_categories ul li a,
.kf_testimonial_name,
.kf_with_us_form textarea,
.kf_with_us_form,
.kf_submit_add_outer_wrap, .kf_step_outer_wrap, .kf_submit_add_hdg, .kf_step_1_des, .kf_submit_field, .kf_submit_field_btn
{
	text-align: right;
}




.chosen-container .chosen-drop{
	left: 9999px;
}
.user-profile .dropdown{
	margin-right: 20px;
	padding: 2px 0;
}
.user-profile .dropdown-menu{
	right: auto;
	left: 0;
}
.user-profile .dropdown button{
	line-height: 30px;
}
.user-profile .dropdown button img{
	margin-right: 10px;
}
.user-profile{
	margin: 0 0px 0 0;
}
.kf_logo_nav_wrap .container > div{
	float: right;
}
.kf_callus{
	padding: 0 12px 0 0;
	
}
.kf_callus:before{
	left: auto;
	right: 0;
}
.kf_phone_num{
	padding-left:0;
	padding-right: 40px; 
}
.kf_main_navigation ul ul{
	left: auto;
	right: 0;
}
ul.kf_schedule_room li:first-child {
    border-left: 1px solid;
}
ul.kf_schedule_room li:last-child {
    border-width: 0 0 0 0;
}
.kf_schedule_visit h4{
	padding: 4px;
}
.kf_property_view{
	margin: 0 20px 0 0;
}
.kf_video_wrap p a::after{
	right: auto;
	left: 34px;
}
.kf_video_wrap p a{
	padding-left: 10px;
	padding-right: 20px;
}
.kf_video_wrap p a > i{
	margin: 0 34px 0 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	 transform: rotate(180deg);
}

.kode-next a i,
.kf_play_btn > a i{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	 transform: rotate(180deg);
}
.kf_play_btn > a i{
	margin-right: 10px;
}
.kf_rent_total_price{
	padding-left: 10px;
	padding-right: 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius:0;
	border-top-right-radius: 50px;
	border-bottom-right-radius:50px;
}
.kf_rent_location h6 i {
    margin:0 10px;
}
.kf_property_view span{
	margin: 0 0 0 15px;
}
.kf_rent_property_des ul li p{
	margin: 0;
}
ul.kf_blog_post_meta li{
	padding: 0 10px;
}
ul.kf_blog_post_meta li:first-child{
	padding-right: 0;
}
ul.kf_blog_post_meta li i {
    margin:0 0 0 8px;
}
.kf_twitter_msg{
	padding-right: 0;
	padding-left: 80px;
}
.kf_twitter_des .bx-wrapper .bx-controls-direction a.bx-prev::before, .kf_twitter_des .bx-wrapper .bx-controls-direction a.bx-next::before{
	line-height: 32px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);

}
.kf_twitter_des .bx-wrapper .bx-prev {
    left: 15px;
    right: auto;
}
.kf_twitter_des .bx-wrapper .bx-next {
    left: 0;
    right: auto;
}
.kf_twitter_wrap_bg::before{
	left: auto;
	right: 0;
}
.kode-like.fa::before
{
	margin: 0 0 0 5px;
}
ul.kf_foo_address li i{
	margin-right: 0;margin-left: 10px;
}
.kf_foo_post_des{
	padding:0 80px 0 0; 
}
.kf_foo_listing_hover{
	right: auto;
	left: 0;
}
ul.kf_foo_listing_meta li i {
    margin:5px 0 0 8px;
}
.widget > h6::before{
	left: auto;
	right: 0;
}

.widget > h6::after{
	left: auto;
	right: 8px;
}
.kf_recent_property_des{
	right: 0;
}
.pet_love_content_list.pet_1 {
    padding: 0 100px 0 0;
}
.user-profile ul li a i{
	margin: 0 0 0 20px;
}
.kf_property_breadcrumb ul li::before{
	left: auto;
	right: -3px;
}
.kf_listing2_blog{
	padding-left:4px;
	padding-right: 90px;
}
ul.kf_blog_listing_meta li:first-child {
    padding-left: 8px;
    padding-right: 0;
}
ul.kf_blog_listing_meta li i{
	margin: 0 0 0 8px;
}
ul.kf_blog_social_icon{
	padding: 0;
}
.kf-readmore-new-btn i{
	margin: 0 10px 0 0;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.kf_tag_icon{
	margin: 0 0 0 15px;
}
.kf_comment_des{
	padding: 0 110px 0 0;
}
.kode-admin-post figure ~ .admin-info{
	padding: 0 142px 0 0;
}
.kf_property_place{
	padding: 0 275px 0 0;
}
.kf_property_dolar li i,
.kf_property_caption p i {
    margin:0 0 0 10px;
}
.kf_listing_03_des{
	padding: 0 375px 0 0;
}
.kf_property_caption ul.kf_listing_03_location li:first-child{
	padding: 0 0 0 5px;
}
.kf_property_caption ul li i {
    margin:0 0 0 8px;
}
.kf_property_dolar li:first-child{
	margin: 0;
}
.kf_listing_total{
	left: -11px;
	right: auto;
	-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
					transform: rotate(180deg);
}
.kf_listing_total h5{
	-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
			-ms-transform: rotate(-180deg);
				-o-transform: rotate(-180deg);
					transform: rotate(180deg);
}
.kf_listing_04_wrap ul.kf_foo_listing_meta li:first-child{
	padding: 0 0 0 51px;
}
.kf_listing_04_wrap ul.kf_foo_listing_meta li{
	border-right: 1px solid;
	border-left:none;
}
.kf_listing_04_wrap ul.kf_foo_listing_meta li:first-child{
	padding-right: 0;
	border: none;
}
.kf_listing_03_des ul.kf_recent_rating{
	padding-left: 10px;
	padding-right: 0;
}
.kf_property_detail_bed{
	right: auto;
	left: 0;
}
.kf_property_detail_sale{
	left: auto;
	right: 21px;
}
.kf_property_detail_bed a span i {
    margin:0 15px 0 0;
}
.kf_property_detail_uptwon ul li{
	margin: 0 0 0 15px;
}
.kf_property_detail_uptwon ul li i{
	margin: 0 0 0 16px;
}
.kf_property_detail_Essentail a::before{
	margin: 0 0 0 15px;
}
.kode-sidebar-map ul li{
	margin: 0 0 0 -2px;
}
.kf_property_detail_real ul li i{
	margin: 0 0 0 12px;
}
.kf_404_wrap{
	display: inline-block;
	width: 60%;
}
.kf_property_content_wrap .container{
	text-align: center;
}
.kf_404_wrap figure{
	top: 0;
}
.kf_not_found_wrap{
	margin-top: 0;
}
h2.widget-title::before, .aside_hdg h5::before{
	right: 0;
	left: auto;
}
h2.widget-title::after, .aside_hdg h5::after{
	left: auto;
	right: 8px;
}
.bx-wrapper .bx-controls-direction a{
	text-indent: 9999px;
}
.flickr_badge_image, .kf_aside_fea_properties ul li{
	margin: 0 0px 5px 5px;
}
.widget-filter .radio{
	margin: 0 0 0 5px;
}
.kf_commet_field label{
	right: auto;
	left: 20px;
}
.kf_commet_field input[type="text"], .kf_commet_field input[type="email"]{
	padding-left: 30px;
	padding-right: 10px;
}
.kf_heading_2 h3::before{
	left: auto;
	right: 0;
}
.kf_heading_2 h3::after{
	left: auto;
	right: 10px;
}
.kf_member_contact_detail ul li{
	margin-left: 0 !important;
	margin-right: 38px;
}
.member_contact_des{
	padding-left: 0;
	padding-right:35px;
}
.member_contact_des i{
	left: auto;
	margin-left: 0;
	right: 0;
	margin-right: -20px;
}
.kf_list_free{
	margin-right: 20px;
}
.kf_loging_input input[type="password"], .kf_loging_input input[type="text"]{
	padding-right: 64px;
	padding-left: 10px;
}
.kf_loging_input label{
	left: auto;
	right: 0;
}
.kf_login_password ul li{
	min-width: 50%;
	width: auto;
}
.kf_loging_input > select{
	padding-left: 10px;
	padding-right: 64px;
}
.kf_login_password ul li input[type="checkbox"]{
	margin:0 0 0 8px;
}
.goal_des ul li:before{
	margin: 0 0 0 10px;
}
.kf_core_value_wrap .nav-tabs {
	padding: 0;
}
.kf_core_img_des{
	padding: 0 270px 0 0;
}
ul.kf_aboutus_list li{
	padding-left: 0;
	padding-right: 25px;
}
ul.kf_aboutus_list li::before{
	left: auto;
	right: 0;
}
.kf_content_us_icon span{
	margin: 0 0 0 6px;
}
.kf_with_us_addres i{
	margin: 0 0 0 10px;
}
.kf_with_us_p::before{
	left: auto;
	right: 0;
}
.kf_with_us_social ul li{
	margin: 0 0  0 20px;
}
.kf_with_us_p{
	padding: 0 20px 0 0;
}
.widget_categories ul li a,.kf_aside_category ul li a{
	padding-left: 0;
	padding-right: 15px;
}
.kf_aside_category ul li::before, .widget_categories ul li::before{
	left: auto;
	right: 0;
	top: -10px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.kf_aside_category ul li:hover a, .widget_categories ul li:hover a{
	padding-left: 0;
	padding-right: 20px;
}
.kf_know_property_img{
	right: auto;
	left: 0;
}
.kf_testimonial_name{
	padding-right: 20px;
	padding-left: 0;
}
.kf_testimonial_slide_des p::before, .kf_testimonial_slide_des p::after{
	left: auto;
	right: 0;
}
.kf_testimonial_slide_des p::after{
	right: auto;
	left: auto;
}
.kf_testimonial_slide_des{
	padding-left: 40px;
	padding-right: 0;
}
.kf_aside_agent_des span i{
	margin:0 0 0 5px; 
}
.kf_aside_agent_des{
	padding-left: 0;
	padding-right: 90px;
}
.kf_step_outer_wrap .kf_step2_field input{
	padding-left: 10px;
	padding-right: 40px;
}
.kf_step_outer_wrap .kf_step2_field label{
	right: 15px;
	left: auto;
}
.kode_property_account_list li a{
	padding-left: 0;
	padding-right: 21px;
}
.kode_property_account_list li a::before{
	right: auto;
	left: 17px;
	content: "\f104" !important;
}
.kf_author_pic_des{
	padding-left: 0;
	padding-right: 95px;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.kf_property_listing_des ul li{
		font-size: 13px;
	}
	ul.kf_blog_post_meta li {
	    padding: 0 8px;
	}
	ul.kf_foo_listing_meta li{
		width: auto;
		margin-right: 6px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	body [class*="col"]{
	    float: none;
	}
	.kf_logo_nav_wrap{
		text-align: left;
	}
	.kf_logo_nav_wrap .kode-navigation-wrapper {
	    display: none;
	}
	.kf_logo_nav_wrap .dl-menuwrapper {
	    display: block;
	}
	.kf_logo_nav_wrap .kf_main_navigation{
		float: left;
	}
	.kf_logo_nav_wrap .container > .kf_callus{
		float: left;
		text-align: right;
	}
	.kf_logo_nav_wrap .container > .kode-responsive-navigation {
	    display: inline-block;
	    float: none;
	    margin: 11px 0 0 15px;
	}
	#kode-responsive-navigation #menu-main-menu1-1{
		right: auto;
		left: 0;
	}
	#kode-responsive-navigation #menu-main-menu1-1 li a{
		text-align: right;
	}
	#kode-responsive-navigation #menu-main-menu1-1 li > a::after{
		left: 15px;
		right: auto;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.kf_advacnce_search_form [class*="col"]{
		float: right;
	}
	.kf_property_view{
		margin-bottom: 20px;
	}
	.kf_top_social_icon,
	.kf_top_social_icon ul li,
	.kf_top_social_icon ul,
	.kf_footer_bg ul.kf_foo_social_icon li,
	.kode-widget,
	.widget > h6{
		float: right !important;
	}
	.kf_opening_time{
		display: none;
	}
	.kf_top_social_icon ul li a{
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.chosen-container .chosen-drop{
		z-index: 999999;
		background: #fff;
	}
	.kf_property_view {
	    float: left;
	    margin-bottom: 20px;
	    position: relative;
	    z-index: 19;
	}
}

@media (max-width: 767px) {
	body [class*="col"]{
	    float: none !important;
	}
	.kf_list_free {
	    margin: 0;
	    text-align: center;
	    width: 100%;
	}
	.user-profile {
	    float: right;
	    margin: 0;
	    text-align: center;
	    width: 100%;
	}
	.user-profile .kode-like{
		margin: 10px 16px;
	}
	.kf_logo_nav_wrap .dl-menuwrapper {
	    display: block;
	}
	.kf_logo_nav_wrap .kf_main_navigation{
		float: left;
	}
	.kf_logo_nav_wrap .container > .kf_callus{
		float: left;
		text-align: right;
		width: auto;
		padding: 0;
	}
	.kf_logo_nav_wrap .container > .kode-responsive-navigation {
	   float: right;
	   width: auto;
	    margin: 11px 0 0 15px;
	}
	#kode-responsive-navigation #menu-main-menu1-1 li a{
		text-align: right;
	}
	#kode-responsive-navigation #menu-main-menu1-1 li > a::after{
		left: 15px;
		right: auto;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.user-profile {
	    background-color: transparent;
	    display: inline-block;
	    float: none;
	    margin: 0;
	    position: relative;
	    text-align: center;
	    width: auto;
	}
	.kode-navigation-sticky.kf_sticky{
		position: static;
	}
	.kf_callus i{
		text-align: left;
	}
	.kf_advacnce_search_form{
		width: 100%;
	}
	.kf_advacnce_search_form [class*="col"]{
		float: right;
	}
	.kf_property_view{
		margin:0 0 20px 0;
		z-index: 19;
		position: relative;
	}
	.kf_top_social_icon,
	.kf_top_social_icon ul li,
	.kf_top_social_icon ul,
	.kf_footer_bg ul.kf_foo_social_icon li,
	.kode-widget,
	.widget > h6{
		float: right !important;
	}
	.chosen-container .chosen-results,
	.chosen-container .chosen-search{
		z-index: 999999;
		background: #fff;
		position: relative;
	}
	.kf_top_social_icon ul.kode-team-network li{
		float: none !important;
	}
	.kf_search_tab_wrap > ul > li{
		margin: 0;
		padding: 5px;
		width: 50%;
	}
	ul.kf_aboutus_list li{
		text-align: right;
	}
	.kf_core_img_des{
		padding: 0;
	}
	.kf_testimonial_wrap ul li{
		padding: 0 15px;
	}
	.kode-sidebar-element > [class*="col-md-"]{
		margin-bottom: 30px;float: right !important;
	}
	.widget ul,
	.kf_footer_bg [class*="col"]{
		float: right !important;
	}
	.kf_foo_property_type,
	.widget ul{
		position: relative;
		z-index: 19;
		float: right;
		width: 100%;
	}
	.kf_listing2_blog{
		float: none;
	}
	.kf_twitter_msg{
		padding: 0;
	}
	.kf_comment_wrap figure{
		margin-bottom: 20px;
	}
	.kf_listing_outer_wrap{
		padding: 0 15px;
	}
	.kf_property_place{
		padding: 20px;
	}
	.kode-pagination{
		margin-bottom: 30px;
	}
	.kf_property_field {
	    float: left;
	    position: relative;
	    width: 100%;
	}
	.kf_search_property_wrap, .kf_property_element{
		margin-bottom: 15px;
	}
	.kf_listing_03_des {
	    padding: 0 15px;
	}
	.kf_listing_03_wrap .kf_property_dolar li{
		width: auto;
	}
	.kf_listing_03_wrap .kf_listing_total{
		left: auto;
	}
	.kf_listing_03_wrap .kf_listing_total:before{
		opacity: 0;
	}
	.kf_content_us_icon{
		padding-left: 15px;
		padding-right: 15px;
	}
	.kf_team_detail_des{
		padding-right: 15px;
		padding-left: 15px;
		overflow: hidden;
	}
}

@media (max-width: 480px){
	.kf_testimonial_name{
		padding: 0;
		text-align: center;
	}
	.kf_listing2_blog{
		width: 100%;
		padding: 0;
		float: left;
	}
	.kf_comment_list_wrap ul .kf_comment_des{
		padding: 0;
	}
	.kf_comment_list_wrap ul ul .kf_comment_des{
		padding: 0 50px 0 0;
	}
	.kode-textarea,
	.kode-left-comment-sec{
		width: 100%;
	}
	.kode-textarea{
		margin-bottom: 30px;
	}
	.kf_top_bar, .kf_top_bar p, .kf_top_bar a, .kf_opening_time{
		font-size: 14px;
	}
	.user-profile .modal-dialog, .kode_property_logo_2_4 li .modal-dialog, .kf_hdr2_social_icon_new li .modal-dialog, .kf_hdr2_social_icon .modal-dialog{
		width: 320px;
		margin: 50px 0 0 0;
	}
	.modal-body{
		padding: 0;
	}

}