/*
	  ==============================================================
		   HOME PAGE SHORTCODE CSS START
	  ==============================================================
*/
.btn-effect::after {
    content: "";
    height: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}


/*.kf_content_wrap */
figure:before{
    content: "";
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    position: absolute;
    opacity: 0;
}
/*COURSES LIST PAGE IMG EFFEC START*/
.sdb_courses_list_des li:hover figure:before,
.widget-recent-posts li:hover figure:before,
/*COURSES LIST PAGE IMG EFFEC END*/
/*OUR TEACHER PAGE IMG EFFEC START*/
.edu2_techer_wrap:hover figure:before,
/*OUR TEACHER PAGE IMG EFFEC END*/
/*OUR OUR EVENT PAGE IMG EFFEC START*/
.edu2_event_wrap:hover figure:before,
/*OUR OUR EVENT PAGE IMG EFFEC START*/
/*COLUM 4 PAGE START*/
.edu2_col_4_wrap:hover > figure:before,
/*COLUM 4 PAGE END*/
/*OUR COURSES START*/
.edu2_col_3_wrap:hover > figure:before,
/*OUR COURSES END*/
/*blog detail start*/
.blog_thumb_wrap figure:hover:before,
/*blog detail end*/
.blog_3_wrap:hover .blog_3_des figure:before,
.kf_event_list_wrap:hover .kf_event_list_thumb figure:before,
.edu2_new_des:hover .col-md-6 > figure:before,
.edu2_faculty_des:hover figure:before,
.edu2_gallery_des:hover figure:before,
.kf_intro_des:hover figure:before,
.edu2_cur_wrap:hover > figure::before
{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.70;
}

/**/
.view-all a:hover,
.course_detail_thumbnail figure figcaption a:hover,
.blog_detail_thumbnail:hover figure figcaption a,
.blog_pg_form button:hover,
.convocation_link:hover,
.kf_convocation_des a:hover,
.edu2_ft_topbar_des form button:hover,
.kf_edu2_tab_des .btn-3:hover,
.loadmore a:hover,
.contact_2 button:hover
{
    background-color: #000000;
    color: #fff;
    border-color: #000000 !important;
}
/*COURSES LIST PAGE IMG EFFEC START*/
.kf_courses_wrap  figure:before{
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.kode-simple-heading{
	float:left;
	width:100%;
}
.kf_courses_wrap:hover figure:before{
    opacity: 0.75;
}
.kf_courses_wrap:hover figure a{
    opacity: 1;
}
/*COURSES LIST PAGE IMG EFFEC START*/

.edu2_col_3_wrap:hover
{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.18);
}
/*
  	============================================================
		   Pagination Start 
   	============================================================
*/
.page-links,
.em-pagination,
.woocommerce-pagination,
.kode-pagination{
	float: left;
	width: 100%;
	border:none;
	margin: 0 0 30px;
}
.woocommerce nav.woocommerce-pagination ul{
	float: left;
	width: 100%;
	text-align: center;
	border:none;
}
.woocommerce nav.woocommerce-pagination ul li{
	float: none;
	display: inline-block;
	width: auto;
	border:none;
}
.page-links{
	margin: 10px 0;
}
.page-links a span{
	float:left;
}
.em-pagination .page-numbers,
.page-links span,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.kode-pagination .page-numbers {
    border: 1px solid #d7d8d8;
    border-radius: 3px;
    color: #717171;
    display: inline-block;
    font-size: 14px;
    height: 33px;
    line-height: 32px !important;
    margin: 0 3px 0 0;
    text-align: center;
    padding: 0 10px;
    min-width: 33px;
    text-transform: uppercase;
}
.page-links  .page-links-title{
	border:none;
	border-radius:none;
	padding:0px;
	background:none;
}
.em-pagination strong{
	padding: 0;
}
.em-pagination .page-numbers{
	background-color: transparent !important;
}
.page-links a span{
	width: auto !important;
}
.kode-pagination .page-numbers:last-child{
	margin: 0;
}
.em-pagination .page-numbers{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.page-links a,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.kode-pagination .page-numbers:hover,
.em-pagination .page-numbers.current,
.em-pagination .page-numbers:hover,
.kode-pagination .page-numbers.current{
	color: #fff;
}
.page-links > span{
	float: left;
	width: auto !important;
	height: 33px;
	line-height: 33px !important;
	text-transform: uppercase;
	margin-right: 15px;
	color: #000;
	margin-right: 5px;
	background-color: transparent !important;
}
.kode-pagination  .page-numbers.border_none:hover,
.kode-pagination  .page-numbers.border_none{
	border: none;
	color: #717171;
	cursor: inherit;
	background: transparent;
}
.kode-main-content .kode-blog-single-full article{
	padding:15px 30px;
	background:#f9f9f9;
	float:left;
	width:100%;
}

.children > .comment-respond .form-submit,
.coment_list > .comment-respond .form-submit{
	margin-top:15px;
}