.kode-navigation-wrapper ul li a{font-family:Open Sans}
.kode-navigation-wrapper ul li a{font-size:14px}
.kode-navigation-wrapper ul li a{line-height:24px}
.kode-navigation-wrapper ul li a{font-weight:700}
.kode-navigation-wrapper ul li a{letter-spacing:0.2px}
.kode-navigation-wrapper ul li a{text-transform:uppercase !important}
body h1{font-family:Montserrat}
body h1{font-size:62px }
body h1{line-height:72px }
body h1{font-weight:500 }
body h1{letter-spacing:5px }
body h1{text-transform:uppercase !important}
body h2{font-family:Montserrat }
body h2{font-size:26px }
body h2{line-height:36px }
body h2{font-weight:500 }
body h2{text-transform:uppercase !important}
body h3{font-family:Montserrat }
body h3{font-size:30px }
body h3{line-height:40px }
body h3{font-weight:500 }
body h3{letter-spacing:0.2px }
body h3{text-transform:uppercase !important}
body h4{font-family:Montserrat }
body h4{font-size:24px }
body h4{line-height:34px }
body h4{font-weight:500 }
body h4{letter-spacing:0.2px }
body h4{text-transform:uppercase !important}
body h5{font-family:Montserrat }
body h5{font-size:20px }
body h5{line-height:30px }
body h5{font-weight:500 }
body h5{letter-spacing:0.2px }
body h5{text-transform:uppercase !important}
body h6{font-family:Montserrat }
body h6{font-size:18px }
body h6{line-height:28px }
body h6{font-weight:500 }
body h6{letter-spacing:0.2px }
body h6{text-transform:uppercase !important}
body, p{font-family:Source Sans Pro}
body, p{font-size:16px }
body, p{line-height:26px }
body, p{font-weight:300 }
body, p{letter-spacing:0.2px }
body, p{text-transform:none !important}
.kode-navigation-wrapper .navigation > .menu > ul > li a, .kode-navigation-wrapper .navigation ul.menu > li a{color: #666666;  }
.kode-navigation-wrapper .navigation .menu > li.current_page_item a, .kode-navigation-wrapper .navigation ul.menu > li.current-menu-item.current_page_item a{color: #ffffff;  }
.kode-navigation-wrapper .navigation .menu > li.current_page_item a, .kode-navigation-wrapper .navigation ul.menu > li.current-menu-item.current_page_item a{background-color: #e79800;  }
.kode-navigation-wrapper .navigation .menu > li.current_page_ancestor > a, .kode-navigation-wrapper .navigation ul.menu > li.current_page_ancestor > a{color: #ffffff;  }
.kode-navigation-wrapper .navigation ul.menu > li.current_page_ancestor > a{background-color: #e79800;  }
.kode-navigation-wrapper .navigation .menu > li a, .kode-navigation-wrapper .navigation ul.menu > li a{background-color: #ffffff;  }
.kode-navigation-wrapper .navigation .menu > li:hover a, 
										.kode-navigation-wrapper .navigation ul.menu > li:hover a{background-color: #e79800 !important;  }
.kode-navigation-wrapper .navigation ul.menu > li:hover > a{color: #ffffff !important;  }
.kode-navigation-wrapper ul li:before{color: #e79800;  }
.kode-navigation-wrapper .navigation .menu > li > ul.children li a, .kode-navigation-wrapper .navigation ul > li > ul.children li a,.kode-navigation-wrapper .navigation ul > li > ul.sub-menu li a,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li a,.kode-navigation-wrapper .navigation ul > li ul.sub-menu li,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li{background-color: #ffffff !important;  }
.sub-menu, .children{border-color: #ffffff !important;  }
.kode-navigation-wrapper .navigation .menu > li ul.children li a,.kode-navigation-wrapper .navigation ul > li ul.children li a,.kode-navigation-wrapper .navigation ul > li ul.sub-menu li a,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li a,.kode-navigation-wrapper .navigation ul > li ul.sub-menu li,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li{color: #666666 !important;  }
.kode-navigation-wrapper .navigation .menu > li ul.children li:hover a,.kode-navigation-wrapper .navigation ul > li ul.children li:hover a,.kode-navigation-wrapper .navigation ul > li ul.sub-menu li:hover a,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li:hover a, header .kf_logo_nav_wrap .kode-navigation-wrapper .navigation ul > li ul.sub-menu li:hover,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li:hover{color: #ffffff !important;  }
.kode-navigation-wrapper .navigation .menu > li ul.children li:hover a,.kode-navigation-wrapper .navigation ul > li ul.children li:hover a, .kode-navigation-wrapper .navigation ul > li ul.sub-menu li:hover a,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li:hover a,.kode-navigation-wrapper .navigation > ul > li ul.sub-menu li:hover,.kode-navigation-wrapper .navigation ul.menu > li ul.sub-menu li:hover{background-color: #e79800 !important;  }

							.kode-navigation-wrapper .navigation .menu > li.current_page_ancestor ul.children li.current_page_item a, 
							.kode-navigation-wrapper .navigation .menu > li.current_page_ancestor li.current_page_item a, 
							.kode-navigation-wrapper .navigation ul.menu > li.current_page_ancestor li.current_page_item a{background-color: #e79800 !important;  }
.kode-navigation-wrapper .navigation .menu > li.current_page_ancestor ul.children li.current_page_item a, .kode-navigation-wrapper .navigation ul.menu > li.current-menu-ancestor.current_page_ancestor li.current-menu-item.current_page_item a{color: #ffffff !important;  }
.kode-linksection, .kode-modren-btn{border-color:#020202 !important}
.kode-linksection, .kode-modren-btn{background:#ffffff !important}
body { background-color: #ffffff;  }
footer:before{ opacity: .8;  }
.kf_footer_bg{ background-color: #272727 !important;  }
.footer{background:url();background-size: cover;float: left;position: relative;width: 100%;}.kf_footer_bg:before{background-image:url() !important;}a.logo{margin-top: 5px;  }
.kode-navigation-wrapper{ background-color: #ffffff !important;  }

						.widget-skill .widget-radio-btn input[type="radio"]:checked ~ label,
						.kf_grid-column:hover .kf_edu_grid_captions > h5,
						.social-icons li:hover a,
						.comments_section_02 .rateing li span,
						.your-rateing_btn input[type="radio"]:checked ~ label span,
						.your-rateing_btn input[type="radio"]:checked ~ label b,
						.course_tabs_contents ul li:hover a,
						.comment-rateing ul li span,
						.blog_3_des h5:hover a,
						.about-autor_des h6 a:hover,
						.detail_wrap_final .edu2_cur_ftr_strip h6:hover a,
						.edu2_blogpg_des h5 a:hover,
						.ue_style_widget .caregorys li a:hover i,
						.ue_style_widget .caregorys li a:hover,
						.kf_blog_social_icon a:hover,
						.kf_blog_detail_tag a:hover,
						.close:hover, .close:focus,
						.woocommerce #respond input#submit, 
						.woocommerce a.button,
						.woocommerce ul.products li.product .price,
						.woocommerce div.product form.cart .button,
						.product_meta .tagged_as a, .product_meta a:hover,
						.woocommerce div.product p.price, .woocommerce div.product span.price,
						.price del, .price ins,
						.woocommerce button.button,
						.woocommerce p.stars a:hover,
						.woocommerce .woocommerce-message:before,
						.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before,
						.woocommerce .woocommerce-message:before,
						.books-listing-4:hover a.add-to-cart,
						.woocommerce .cart .button, .woocommerce .cart input.button,
						.woocommerce .coupon .submit,
						.woocommerce a.remove,
						.woocommerce input.button,
						.comment-reply-link:hover,
						.widget_archive ul li:hover,
						.nav_des li a:hover, .kf_courses_wrap:hover .courses_des_hding1 h5, .kf_courses_des > span > small, .kf_inr_breadcrumb ul li > a:hover, .kf_intro_des:hover .kf_intro_des_caption a, .kf_intro_des:hover span, .kf_intro_des:hover h6, .kf_edu2_tab_wrap .nav-tabs > li > a:hover, .kf_edu2_tab_wrap .nav-tabs .active a, .edu2_cur_wrap:hover .edu2_cur_des > h5 a, .edu2_cur_wrap:hover .edu2_cur_des > span, .kf_edu2_tab_des .browse_all, .kf_edu2_tab_des .customNavigation .btn:hover, .edu2_gallery_des .active, .edu2_gallery_des a:hover, .edu2_gallery_des > figure > figcaption > a, .loadmore a, .edu2_faculty_des2 h6 a, .edu2_faculty_des figcaption a, .edu2_event_des h4, .edu2_event_des > a, .post-option > li > a:hover, .edu2_pricing_des ul li a:hover, .edu2_pricing_des:hover .subscribe, .edu_testemonial_wrap > a span, .rpost_thumb_des span i, .sidebar_archive_des > li a:hover, .sidebar_rpost_des li:hover h6 a, .sdbar_categories_des > li a:hover,  .edu2_techer_des h6 a, .edu2_techer_wrap figcaption a,  .edu2_blogpg_des ul li a:hover, .edu2_blogpg_des:hover ul li i, .edu2_blogpg_des .blog-readmore,  .abt_courses_des:hover i, .abt_courses_des:hover h6, .abt_courses_des a:hover, .std_name_des > a:hover,  .kf_event_list_des h4 a, .kf_event_list_links li i,  .edu2_col_4_des span,  .video_link_wrap a, .edu2_col_3_ftr a:hover,  .blog_3_des ul li a,  .edu2_footer_contant_des > ul > li > a:hover, .readmore, .readmore:hover,  .teacher_bio_des ul li i, .kf_training_wrap ul li:after, .kf_training_date, .kf_training_des span, .kf_training_des h6 a:hover,  .kf_convocation_wrap h4 span, .heading_5 h4 span, .kf_event_speakers_des h5 a, .blog_detail_meta li i, .comment_reply:hover, .autor_social li a:hover, .blog_detail_meta li a:hover, .kf_courses_tabs .nav-tabs > li.active > a, .course_detail_meta li a:hover, .course_detail_meta li:hover, .teacher_des small, .teacher_meta li a:hover, .inputs_des span i, .contact_meta li i, .location_des > h6, .contact_meta li a:hover, .location_meta li i, .location_meta li a:hover, .location_des > a:hover, .location_des > a:hover i, .contact_2_headung h3,  .error_des span, .error_des h3, .btn-3, #filterable-item-filter-1 > li .active, .kf_edu2_heading1 h5, .widget-links ul li a:hover:before, .widget-links ul li a:hover
						{color: #e79800 !important;  }

						/*
							  ============================================================
								   Background Color
							  ============================================================
						*/
						.search-menu button,
						.filter_priceing,
						.tabs-controls ul li.active a,
						.tabs-controls ul li.active a:focus,
						.tabs-controls ul li.active a:hover,
						.kf_grid-column:hover > figure:before,
						.kf_edu_grid_captions .rating,
						.btn_edu,
						.title-table,
						.contact_des > p input[type="submit"],
						.kode_btn_store_1:hover,
						.rateing_box,
						.contact_2 input[type="submit"],
						.price-velue-btn,
						.widget.bg-color h5,
						.brake-time-view li:last-child:before,
						.widget-radio-btn > span:before,
						.blog_pg_form button,
						.nav_2 .dl-menuwrapper button,
						.nav_2 .dl-menuwrapper .dl-menu,
						.edu2_faculty_des:hover figure,
						.edu2_faculty_des:hover figure:before,
						.nav_2 .dl-menuwrapper .dl-menu .dl-submenu,
						.kf_edu2_search_wrap p input[type="submit"],
						.c-button:hover,
						.edu2_faculty_des figure:before,
						.edu2_testemonial_slider_wrap .owl-dots.active span,
						.edu2_faculty_des:hover figure:before,
						.edu2_testemonial_slider_wrap  .owl-dots .active span,
						.kf_edu2_logo, .kf_topbar_wrap, .nav_des > li:before, .nav_des a:after, .nav_des a:before,  .btn-1:hover,  .kf_edu2_search_wrap form > button, .kf_edu2_search_wrap .dropdown-menu > li > a:focus, .kf_edu2_search_wrap .dropdown-menu > li > a:hover, .kf_intro_des figure:before, .kf_edu2_tab_wrap .nav-tabs > li > a:hover:before, .kf_edu2_tab_wrap .nav-tabs > li.active > a:before, .kf_edu2_tab_wrap .nav-tabs > li.active > a:focus:before, .kf_edu2_tab_wrap .nav-tabs > li.active > a:hover:before, figure:before, .edu2_pricing_des:hover span, .edu_testemonial_wrap:before, .edu2_testemonial_slider_wrap .owl-page.active,  .kf_courses_wrap figure:before, .kf_courses_des > a:hover, .sdb_tag_cloud_des li a:hover,  .edu2_blogpg_des .blog-readmore:hover, .kf_edu_pagination_wrap .pagination > .active > a, .kf_edu_pagination_wrap .pagination > .active > a:focus, .kf_edu_pagination_wrap .pagination > .active > a:hover, .kf_edu_pagination_wrap .pagination > .active > span, .kf_edu_pagination_wrap .pagination > .active > span:focus, .kf_edu_pagination_wrap .pagination > .active > span:hover, .btn-6:hover, .inr_pg_search_wrap, .edu2_col_3_wrap figure figcaption a:hover, .blog_3_wrap .blog_3_sidebar li:hover, .edu2_ft_topbar_wrap, .edu2_col_4_wrap:hover .btn-2, .teacher_bio_logo span, .teacher_thumb figcaption a, .progress_heading:before, .bar, .training_heading:before, .kf_training_outer_des:hover .kf_training_date > span, .kf_convocation_des a, .convocation_link, .kf_event speakers h5, .event_link:hover, .blog_detail_thumbnail figure figcaption a, .blog_pg_form form button, .course_detail_thumbnail figure figcaption a, .kf_courses_tabs .nav-tabs > li > a::before, .apply, .teacher_outer_wrap span,  .error_thumb figure a:before, .contact_des button:hover, .filterable_heading .dropdown-menu > li > a:hover, .filterable_thumb figure:before, .edu_masonery_thumb figure figcaption, #filterable-item-filter-1 a, .pagination > li > a:hover, #header_2 .top_bar_2, #header_2 .nav_2 ul li a:before, #header_2 .top_nav li a:before, .nav_2 ul ul li a:hover, .edu2_navigation ul ul li a:hover, .kf_topbar_wrap .pull-right button, .contact_des button, .contact_2 button, .selectric-items li.selected, .selectric-items li:hover, .get-admition, 
						.widget-categories ul li a:hover,
						.view-all .btn-3:hover,	
						.comment-form .form-submit .submit,
						.inner-post:hover,
						.woocommerce #respond input#submit:hover,
						.woocommerce a.button:hover,
						.woocommerce button.button:hover,
						.woocommerce span.onsale,
						.woocommerce input.button:hover,
						.contact_des .des_2 > input[type="submit"],
						.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
						.kode-pagination .page-numbers.current,
						.woocommerce div.product form.cart .button:hover,
						.kode-pagination .page-numbers:hover,
						.woocommerce a.remove:hover,
						.books-listing-4 .book-price,
						.widget-courses-list figure a, .widget-tag-cloud ul li a:hover, #mobile-header, .sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span, 
						.btn-style, .cont_socil_meta li a:hover, .edu_masonery_thumb .caption,.abt_univ_des .btn-3:hover,
						.lng_wrap button,
						.kode-search label input,
						.kode-center-content-tf figure::before,
						.kode-search label:hover input,
						.widget_pages ul li:hover,
						.kode-search label{background-color: #e79800 !important;  }

						/*
						============================================================
						Border Color
						============================================================
						*/
						.kode_btn_store_1:hover,
						.view-all .btn-3:hover,
						.kode-pagination .page-numbers.current,
						.kode-pagination .page-numbers:hover,
						.kf_grid-column > figure,
						.grid-option_3:before,
						.social-icons li:hover a,
						.woocommerce #respond input#submit, 
						.woocommerce a.button,
						.woocommerce button.button,
						.woocommerce input.button,
						.woocommerce-message,
						.flex-control-paging li a.flex-active,
						.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce,
						.woocommerce-message,
						.course_tabs_contents ul li a:before,						
						.nav_des li,  .btn-1:hover, .edu2_serc_des input[type="text"]:focus, .edu2_serc_des .btn.btn-default.dropdown-toggle:focus, .kf_courses_des > a:hover, .kf_edu2_tab_des .browse_all, .kf_edu2_tab_des .customNavigation .btn:hover, .loadmore a, .edu2_faculty_des:hover .edu2_faculty_des2, .sdb_tag_cloud_des li a:hover, .kf_sidebar_srch_wrap form > input[type="search"]:focus,  .edu2_techer_wrap:hover .edu2_techer_des,  .edu2_blogpg_des .blog-readmore,  .edu2_col_4_wrap:hover .edu2_col_4_des figure, .btn-6:hover, .teacher_bio_logo, .teacher_thumb figure:after, .kf_training_date, .convocation_timing, .event_link:hover, .kf_blog_detail_des blockquote, .blog_pg_form textarea:focus, .blog_pg_form input[type="e-mail"]:focus, .blog_pg_form input[type="text"]:focus, /*course detail start*/ .teacher_meta li a:hover,  .cont_socil_meta li a:hover, .error_thumb, .error_thumb figure a, input[type="text"]:focus, input[type="email"]:focus, textarea:focus, .btn-3, #filterable-item-filter-1 a, #filterable-item-filter-1 > li .active, .pagination > li > a:hover, .owl-page.active > span, .widget-search input[type="search"]:focus, .widget-tag-cloud ul li a:hover 
						{border-color: #e79800 !important;  }
.header_3 .kode_top_bar_3{border-top-color: #e79800 !important;  }
.kf_login_colum{border-bottom-color: #e79800 !important;  }
.kode_location_property_4{border-bottom-color: #fff !important;  }
.kf_login_1::before{border-color: #e79800 transparent transparent !important;  }
.kode_pet_navigation ul.nav li a.current{border-top-color: #e79800 !important;  }

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{background-color: #f9f9f9 !important;float:left;width:100%;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-top: 30px !important;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-bottom: 30px !important;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-left: 30px !important;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-right: 30px !important;}
