html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	vertical-align: baseline;
}
article,  aside,  details,  figcaption,  figure,  footer,  header,  hgroup,  nav,  section {
	display: block;
}
audio,  canvas,  video {
	display: inline-block;
	max-width: 100%;
}
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body,  button,  input,  select,  textarea {
	color: #2b2b2b;
	line-height: 1.5;
}
body {
	background: #fff;
	color: #666666;
}
a {
	color: #24890d;
	text-decoration: none;
}
a:focus {
	outline: thin dotted;
}
a:hover,  a:active {
	outline: 0;
}
a:active,  a:hover {
}

p {
    letter-spacing: 0.2px;
    line-height: 26px;
	color:#777;
	font-size:14px;
	
}
/* Link Typo */
h1,  h2,  h3,  h4,  h5,  h6 {
	clear: both;
	margin: 0px 0 12px;
	clear: none;
	color: #262626;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3d3d3d;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #4d4d4d;
    font-style: normal;
    line-height: 1.2;  
	margin:0px;
}
address {
	font-style: italic;
	margin-bottom: 24px;
}
abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}
b,  strong {
	font-weight: 700;
}
cite,  dfn,  em,  i {
	font-style: italic;
}
mark,  ins {
	background: #fff9c0;
	text-decoration: none;
}
p {
	margin-bottom: 24px;
}
code,  kbd,  tt,  var,  samp,  pre {
	font-family: monospace, serif;
	font-size: 15px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: 1.6;
}
pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
blockquote,  q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}
blockquote:before,  blockquote:after,  q:before,  q:after {
	content: "";
	content: none;
}
blockquote {
	color: #767676;
	font-size: 19px;
	font-style: italic;
	font-weight: 300;
	line-height: 32px;
	margin: 0px 0px 10px;
	padding:20px;
}
blockquote cite,  blockquote small {
	color: #2b2b2b;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
blockquote em,  blockquote i,  blockquote cite {
	font-style: normal;
}
blockquote strong,  blockquote b {
	font-weight: 400;
}
small {
	font-size: smaller;
}
big {
	font-size: 125%;
}
sup,  sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
dl {
	margin-bottom: 24px;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 24px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
/*
li > ul,  li > ol {
	margin: 0 0 0 20px;
}*/
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
figure {
	margin: 0;
}
fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 24px;
	padding: 11px 12px 0;
}
legend {
	white-space: normal;
}
button,  input,  select,  textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}
button,  input {
	line-height: normal;
}
input,  textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}
button,  html input[type="button"],  input[type="reset"],  input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],  input[disabled] {
	cursor: default;
}
input[type="checkbox"],  input[type="radio"] {
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
 input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
 button::-moz-focus-inner,  input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table,  th,  td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}
caption,  th,  td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
	
}
td, th{
	padding:10px;
}
td {
	border-width: 0 1px 1px 0;
}
del {
	color: #767676;
}
hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}
/* Support a widely-adopted but non-standard selector for text selection styles

 * to achieve a better experience. See http://core.trac.wordpress.org/ticket/25898.

 */

::selection {
	background: #11c8de;
	color: #fff;
	text-shadow: none;
}



::-moz-selection {
 background: #11c8de;
 color: #fff;
 text-shadow: none;
}
/**

 * 2.0 Repeatable Patterns

 * -----------------------------------------------------------------------------

 */



/* Input fields */



input, textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #2b2b2b;
	padding: 6px 10px 6px 35px;
	width: 100%;
	height: 47px;
}
.input-container {
	position: relative;
	margin: 0px 0px 30px 0px;
}
.input-container i {
	position: absolute;
	left: 15px;
	top: 50%;
	font-size: 14px;
	color: #999;
	margin-top: -7px;
	z-index:10;
}
textarea {
	width: 100%;
	height: 300px;
	padding: 10px;
}
input:focus,  textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: 0;
}
/* Buttons */



button,  .contributor-posts-link,  input[type="button"],  input[type="reset"],  input[type="submit"] {
	border: 0;
	font-weight:bold
	color: #fff;
	font-size: 14px;
	line-height:14px;
	padding: 15px 30px;
	text-transform: uppercase;
	vertical-align: bottom;
	border-radius:0px;
}
button:hover,  button:focus,  .contributor-posts-link:hover,  input[type="button"]:hover,  input[type="button"]:focus,  input[type="reset"]:hover,  input[type="reset"]:focus,  input[type="submit"]:hover,  input[type="submit"]:focus {
	background-color: #41a62a;
	color: #fff;
}
button:active,  .contributor-posts-link:active,  input[type="button"]:active,  input[type="reset"]:active,  input[type="submit"]:active {
	background-color: #55d737;
}
input[type="text"],  input[type="email"],  input[type="password"] {
	height: 47px;
}
.search-field {
	width: 100%;
}
.search-submit {
	display: none;
}



/* Placeholder text color -- selectors need to be separate to work. */



::-webkit-input-placeholder {
 color: #939393;
}



:-moz-placeholder {
 color: #939393;
}



::-moz-placeholder {
 color: #939393;
 opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}



:-ms-input-placeholder {
 color: #939393;
}
/* Responsive images. Fluid images for posts, comments, and widgets */



.comment-content img,  .entry-content img,  .entry-summary img,  #site-header img,  .widget img,  .wp-caption {
	max-width: 100%;
}
.kode_property_location_search_4 input::-moz-placeholder ,
.kode_property_location_search_4 input::-webkit-input-placeholder,
.kode_property_location_search_4 input:-ms-input-placeholder{
	color:#fff;
}
/**

 * Make sure images with WordPress-added height and width attributes are

 * scaled correctly.

 */



.comment-content img[height],  .entry-content img,  .entry-summary img,  img[class*="align"],  img[class*="wp-image-"],  img[class*="attachment-"],  #site-header img {
	height: auto;
}
img.size-full,  img.size-large,  .wp-post-image,  .post-thumbnail img {
	height: auto;
	max-width: 100%;
}
/* Make sure embeds and iframes fit their containers */



embed,  iframe,  object,  video {
	margin-bottom: 24px;
	max-width: 100%;
}
p > embed,  p > iframe,  p > object,  span > embed,  span > iframe,  span > object {
	margin-bottom: 0;
}
/* Alignment */



.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
blockquote.alignleft,  img.alignleft {
	margin: 7px 24px 7px 0;
}
.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}
blockquote.alignright,  img.alignright {
	margin: 7px 0 7px 24px;
}
.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}
blockquote.aligncenter,  img.aligncenter,  .wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}
.site-content blockquote.alignleft,  .site-content blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}
.site-content blockquote.alignleft p,  .site-content blockquote.alignright p {
	margin-bottom: 17px;
}
.wp-caption {
	margin-bottom: 24px;
}


/* BlockQoutes*/*/  .wp-caption img[class*="wp-image-"] {
 display: block;
 margin: 0;
}
.wp-caption {
	color: #767676;
}
.wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding-right: 10px;
}
.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
 .kode-uptodate ::-webkit-input-placeholder {
 color: #fff;
}
 .kode-uptodate :-moz-placeholder {
 color: #fff;
}
 .kode-uptodate ::-moz-placeholder {
 color: #fff;
 opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}
 .kode-uptodate :-ms-input-placeholder {
 color: #fff;
}
.kode-admin-post {
	float: left;
	width: 100%;
	padding: 20px;
	position: relative;
	background: ghostwhite;
	border: 1px solid #dddddd;
	border-left: none;
	border-top: none;
	border-right: none;
	margin: 0px 0px 30px;
}
.kode-admin-post figure {
	border: 3px solid #efefef;
	float: left;
	width: 104px;
	margin: 0px 0px 0px 0px;
}
.kode-admin-post figure img {
	width: 100%;
}
.kode-admin-post figure a {
	float: left;
	padding: 0px 0px 0px;
	width: 100%;
}
.kode-admin-post figure ~ .admin-info {
	padding: 0px 0px 0px 142px;
}
.admin-info h2 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0px 0px 10px 0px;
}
#kode-submit-form p {
	margin: 0px;
	padding: 0px;
}
.kode-uptodate .social-icons ul {
}
.kode-shop-list li {
	list-style: none;
}
.kode-slider-item ul {
	margin: 0px;
	padding: 0px;
}

/*.col-md-8.columns > .row > #submit-listing > .kf_submit_add_outer_wrap li{
	width:24%;
}*/
.kf_author_detail_wrap{
	background-color:#edf2f5;
	border-bottom:2px solid;
	margin:0px 0px 25px;	
}
.kf_author_detail_wrap,
.kf_author_wrap{
	float:left;
	width:100%;
	position:relative;	
}
.kf_author_wrap{
	padding:15px;
	border-bottom:3px solid #0699a3;	
	background:#333;
}
.kf_author_pic{
	float:left;
	width:82px;	
}
.kf_author_pic figure{
	border:3px solid #fff;
	float:left;
	width:100%;	
}
.kf_author_pic figure img{
	width:100%;
	height:auto;	
}
.kf_author_pic_des{
	float:none;
	padding:10px 0px 0px 95px;
	width:auto;	
}
.kf_author_pic_des span{
	display:block;
	color:#fff;
	margin:0px 0px 5px;	
}
.kf_author_pic_des h6 > a{
	color:#fff;
	display:block;
	margin:0px 0px 5px;	
}
.kf_author_pic_des ul.kf_rating_star li a{
	color:#fff;	
}
/*Des CSS*/
.kf_author_des{
	float:left;
	width:100%;
	position:relative;
	padding:0px 15px;
	text-align:center;	
}
.kf_author_des > ul{
	float:left;
	width:100%;
	margin:20px 0px;	
}
.kf_author_des > ul > li{
	width:100%;
	position:relative;
	float:left;
	border-bottom:1px solid #e0e0e0;
	padding:12px 0px;	
}
.kf_author_des h6{
	width:50%;
	float:left;
	font-weight:500;
	text-transform:capitalize;
	text-align:left;	
}
.kf_author_des span{
	width:50%;
	text-align:right;
	float:left;
	color:#636464;
	text-transform:capitalize;	
}
.kf_author_des ul ul.kf_rating_star{
	width:50%;
	text-align:right;	
}
.kf_author_des ul ul.kf_rating_star li a{
	color:#f1c40f;	
}
.kf_author_des > a{
	border:0px;
	color:#fff;	
}
/* Hover CSS */
.kf_author_des > a:hover{
	background-color:#000;
}
/*
	  ============================================================
		   Submit Add Author Detail Wrap Start
	  ============================================================
*/
.border_radius,
.border_radius img{
	border-radius:100%;	
}
.kf_submit_auther_detail{
	float:left;
	width:100%;
	position:relative;
	background-color:#edf2f5;	
}
.kf_author_ui_element_wrap,
.kf_author_ui_element_wrap ul{
	float:left;
	width:100%;
	padding:0px;
	list-style:none;
	position:relative;	
}
.kf_author_ui_element_wrap ul li{
	position:relative;
	float:left;
	border-bottom:1px solid #e9e9e9;
	width:100%;	
}
.kf_author_ui_element_wrap ul li i{
	float:left;
	width:40px;
	text-align:center;
	border-right:1px solid #e9e9e9;
	padding:16px 0px 14px;	
}
.kf_author_icon_detail{
	float:none;
	padding:12px 20px 12px 50px;
	width:auto;	
}
.kf_author_icon_detail h6{
	display:inline-block;	
	margin:0px;
}
.kf_author_icon_detail h6 > a{
	color:#666666;
	text-transform:uppercase;
	font-weight:600;
	display:inline-block;	
}
.kf_author_icon_detail span{
	float:right;
	color:#666666;
	font-weight:600;
}
/*Hover CSS*/
.kf_author_ui_element_wrap ul li:hover .kf_author_icon_detail{
	padding-left:60px;	
}
.wp-core-ui .quicktags-toolbar input.button.button-small{
	width:auto !important;
}
.kode-user-profile .kf_step2_field textarea{
	height:247px;	
}
.kf_hdr2_navigation .kf_menu_scl_icon{
	padding: 12px 0;
}
.kf_hdr2_social_icon ul li{
	line-height:normal;
}
.wpcf7-response-output{
	float:left;
	width:100%;
	margin-top:5px;
}
.kf_with_us_social ul{
	list-style:none;
	padding:0px;
}
.margin-top-50-minus{
	float:left;
	width:100%;
	margin-top:-50px;
}
.kode-sidebar  > [class*="col-md-"]{
	width:100%;
	float:left;
	margin-bottom:30px;
	padding:0px;
}
.kode-team-network-kick,
.kf_tag_list{
	padding:0px;
}
.kf_tag_list i{
	display:none;
}
.comment-respond #reply-title{
    color: #333333;
    font-weight: 500;
    margin: 0 0 20px;
    text-transform: uppercase;
	font-size:20px;
	float:left;
	margin:0px;
	width:100%;
}
ul.pagination {
    background: #f9f9f9 none repeat scroll 0 0;
    float: left;
    margin: 0;
    padding: 15px;
    width: 100%;
}
.pagination .pull-right{
	text-align:right;
}
.kf_comment_date span{
	color:#888;
}
.kf_comment_des p{
	float:left;
	width:100%;
}

/*
.woocommerce-content {
	float: left;
	width: 100%;
}
.woocommerce-content h1{
	margin:0px 0px 15px 0px;
	font-size:26px;
	line-height:26px;
	text-transform:uppercase;
}
.woocommerce-content ul.products {
	list-style: none;
	margin: 0px 0px 0px -1.6%;
	padding: 0px;
}
.woocommerce-content ul.products li {
	display: inline-block;
	width: 23%;
	margin: 0px 0px 2% 1.7%;
	vertical-align: top;
	padding: 10px 10px 10px 10px;
	border: solid 1px rgba(0,0,0,0.2);
	background-color: #fff;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.woocommerce ul.products li img {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.woocommerce ul.products li:hover img {
	opacity: 0.5;
}
.woocommerce-content ul.products li:hover {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.woocommerce-content ul.products .star-rating {
	position: absolute;
	top: 20px;
	left: 20px;
}
.woocommerce-content ul.products li .added_to_cart {
	background: red none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 49px 50px 1px;
    position: absolute;
    right: -67px;
    text-transform: uppercase;
    top: -25px;
    transform: rotate(45deg);
    white-space: nowrap;
}
.woocommerce ul.products li.product h3 {
	font-size: 18px;
	margin: 0px 0px 5px 0px;
	text-transform: uppercase;
}
.woocommerce ul.products li .button:hover {
	background-color: #000 !important;
}
.woocommerce .star-rating span::before {
	color: #ffc000
}
.woocommerce ul.products li.product span.onsale {
	height: 50px;
	width: 50px;
	z-index: 10;
	left: 20px;
	top: 20px;
}
.woocommerce div.product div.images {
	float: left;
	width: 30%;
	margin: 0px 0px 30px 0px;
}
.woocommerce div.product div.images div.thumbnails {
	margin: 20px -5px 0px -5px;
}
.woocommerce div.product div.images div.thumbnails a.zoom {
	float: left;
	width: 33.333%;
	padding: 0px 5px 0px 5px;
}
.woocommerce div.product div.summary {
	float: left;
	margin-bottom: 20px;
	width: 70%;
	padding: 0px 0px 0px 30px;
}
.woocommerce-tabs {
	float: left;
	width: 100%;
}
.woocommerce-content-item .related {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.woocommerce-ordering {
	float: right;
	width: 25%;
	margin: 0px 0px 20px 0px;
}
.woocommerce-result-count {
	float: left;
	margin:10px 0px 0px 0px;
}
div.wpcf7-validation-errors {
	width: 100%;
	float: left;
}
*/
/*
===========================================================
				BOOKS LISTING STYLE 4
===========================================================
*/

.books-listing-4{
	float:left;
	width:100%;
	padding:20px 20px 50px 20px;
	border:solid 1px #d8d8d8;
	text-align:center;
	background:#fff;
	position:relative;
	margin-bottom:30px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.books-listing-4 .kode-text p{
	margin-bottom:11px;
}
.books-listing-4:hover{
	box-shadow:0px 15px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 15px 30px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 15px 30px 0px rgba(0,0,0,0.2);
}
.books-listing-4 .kode-thumb{
	float:left;
	width:100%;
	margin-bottom:15px;
	position:relative;
}
.books-listing-4 .kode-thumb img{
	width:100%;
	float:left;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.books-listing-4:hover .kode-thumb img{
	opacity: 0.2;
}
.books-listing-4 .kode-thumb a{
	float: left;
	width: 100%;
}
.books-listing-4 .kode-thumb a:before{
	content:"\f067";
	font-family:FontAwesome;
	position:absolute;
	color: #fff;
	font-size: 36px;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin: auto;
	height: 50px;
	width: 50px;
	line-height: 50px;
	opacity: 0;
}
.books-listing-4:hover .kode-thumb a:before{
	opacity: 1;
}
.books-listing-4 .kode-text{
	float:left;
	width:100%;
}
.books-listing-4 .kode-text h3{
	font-size:18px;
	margin:0px 0px 14px 0px;
}
.books-listing-4 .kode-text h3 a{
	color:#333;
}
.books-listing-4 .book-price {
    background: red none repeat scroll 0 0;
    border-radius: 100%;
    border-top: 1px solid #d8d8d8;
    color: #fff;
    height: 50px;
    left: 20px;
    line-height: normal;
    padding: 11px 12px;
    position: absolute;
    top: 20px;
    width: 50px;
}
.books-listing-4 .book-price p{
	margin:0px;
	font-size:16px;
	font-weight:bold;
	float:left;
	color: #fff;
}
.books-listing-4 .rating{
	float:right;
}
.books-listing-4 .rating > span{
	color:#fcc028;
}
.books-listing-4 a.add-to-cart {
    border: 1px solid;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    margin-top: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.books-listing-4 a.add-to-cart:hover{

}
.books-listing-4:hover a.add-to-cart{
	visibility:visible;
	opacity:1;
}
.kode-product-filter{
	float: left;
	width: 100%;
}
.tab-head-section-top{
	padding:50px 0px;
	float:left;
	width:100%;
}
.body-wrapper{
	position:relative;
	overflow:hidden;
}
ul.portfolio-section,
.portfolio-section ul{
	padding:0px;
	list-style: none;
}
ul.portfolio-section li.clear{
	margin:0px;
	padding:0px;
	
}
.kode_portfolio_tab{
	float:left;
	width:100%;
	text-align:center;	
}
.kode_portfolio_tab > ul > li {
	display:inline-block;
	padding-right:3px;	
}
.kode_portfolio_tab > ul > li > a{
	display:block;
	padding:15px 30px;
	color:#666666;
	font-size:16px;
	line-height:normal;
	background-color:#fff;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.18);	
}
.kode_portfolio_tab > ul > li.active a,.kode_portfolio_tab > ul > li:hover a{
	color:#fff;	
}
/*Gallery List Wrap Start*/
.filterable_container{		
	margin-left:-15px;
	margin-right:-15px;
}

.filterable_container .home_gallery{
	width:300px;
	float:left;
	padding-left:15px;
	padding-right:15px;	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.filterable_container .home_gallery.k_column_4{
	width:305px;
}
/*
==========================================
			VIDEO SECTION
==========================================
*/
.kode-best-slider{
	float:left;
	width:100%;
}
.kode-best-slider h2{
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0px 0px 15px 0px;
	margin:0px 0px 20px 0px;
	border-bottom:solid 1px #CCC;
}
.kode-best-slider ul{
	width:100%;
	float:left;
	padding:0px;
	margin:0px;
}
.kode-best-slider ul li{
	width:100% !important;
	float:left !important;
}
.kode-best-pro-seller{
	float:left;
	width:100%;
	margin:15px 0px 30px;
}
.kode-best-pro-seller .kode-text h4{
	margin-bottom:5px;
}
.kode-best-pro-seller .kode-thumb{
	float:left;
	width:130px;
	position: relative;
}
.kode-best-pro-seller .kode-thumb:before{
	content: "\f067";
	font-family: FontAwesome;
	top: 50%;
	margin-top: -11px;
	color: #fff;
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	opacity: 0;
	z-index: 10;
}
.kode-best-pro-seller:hover .kode-thumb:before{
	opacity: 1;
}
.kode-best-pro-seller:hover .kode-thumb img{
	opacity: 0.1;
}
.kode-best-pro-seller .kode-text{
	padding:0px 0px 0px 150px;
}
.kode-best-pro-seller h4{
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0px;
}
.kode-best-pro-seller p{
	margin:0px;
}
.kode-best-pro-seller p.price{
	display:inline-block;
	color:#fff;
	font-weight:bold;
	padding:3px 10px;	
	margin-bottom:15px;
}
.kode-best-pro-seller .rating{
	text-align:left;
	margin:5px 0px;
}
.kode-best-pro-seller .rating > span{
	color:#333;
	line-height:20px;
}
.kode-best-pro-seller a.add-to-cart{
	font-size:14px;
	font-weight:normal;
	color:#333;
	position:relative;
	padding:5px 0px;
}
.kode-best-pro-seller a.add-to-cart:before{
	content:"\f101";
	font-size:16px;
	font-family:FontAwesome;
	float:right;
	position:absolute;
	top:0px;
	right:-20px;
}
.kode-best-slider .bx-controls-direction a i{
	display:none;
}
.kode-best-slider .bx-pager{
	display:none;
}
.kode-best-slider .bx-wrapper .bx-controls-direction a{
	background-color:#f2f2f2;
	height:30px;
	width:30px;
	top:-64px;
	right:0px;
	margin:0px;
	color:#999999;
}
.kode-best-slider .bx-wrapper .bx-controls-direction a:hover{
	color:#fff;
}
.kode-best-slider .bx-wrapper .bx-controls-direction a.bx-prev{
	left:auto;
	right:36px;
}
.kode-best-slider .bx-wrapper .bx-controls-direction a:before{
	content:"\f105";
	font-family:FontAwesome;
	font-size:26px;
	line-height:28px;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	text-align:center;
	
}
.kode-best-slider .bx-wrapper .bx-controls-direction a.bx-prev:before{
	content:"\f104";
}




/*WOOCOMMERCE PRODUCTS*/

.woocommerce-content{
	float:left;
	width:100%;
}
.woocommerce-content ul.products{
	list-style:none;
	margin:0px 0px 30px -1.6%;
	padding:0px;
}
.woocommerce-content ul.products li{
	display:inline-block;
	width:23%;
	margin:0px 0px 2% 1.7%;
	vertical-align:top;
	padding:10px 10px 30px 10px;
	border:solid 1px rgba(0,0,0,0.2);
	background-color:#fff;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	text-align:center;
	position:relative;
	overflow:hidden;
}
.woocommerce ul.products li img{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.woocommerce ul.products li:hover img{
	opacity:0.5;
}
.woocommerce-content ul.products li:hover{
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	
}
.woocommerce-content ul.products .star-rating{
	position:absolute;
	top:20px;
	left:20px;
}
.woocommerce-content ul.products li .added_to_cart{
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 39px 40px 10px;
    position: absolute;
    right: -50px;
    text-transform: uppercase;
    top: -15px;
    transform: rotate(45deg);
    white-space: nowrap;
}
.woocommerce ul.products li.product h3{
	padding: 0;
	line-height: normal;
	text-transform:uppercase;
}
.woocommerce ul.products li .button:hover {
	color:#fff !important;
}
.woocommerce .star-rating span::before{
	color:#ffc000
}
.woocommerce div.product{
	float: left;
	width: 100%;
}
.woocommerce div.product div.images{
	float:left;
	width:35%;
	padding: 10px;
	border:1px solid #000;
	margin:0px 0px 20px 0px;
}
.woocommerce div.product div.images div.thumbnails{
	margin:20px -5px 0px -5px;
}
.woocommerce div.product div.images div.thumbnails a.zoom{
	float:left;
	width:33.333%;
	padding:0px 5px 0px 5px;
}
.woocommerce div.product div.summary {
    float: left;
    margin-bottom: 20px;
    width: 65%;
	padding: 0px 0px 0px 30px;
}
.woocommerce-tabs{
	float:left;
	width:100%;
}

.woocommerce-content-item .related{
	float:left;
	width:100%;
}

.woocommerce-ordering{
	float:right;
	width:25%;
	margin:0px 0px 30px 0px;
}
.woocommerce-ordering .selectric .button{
	padding-top: 12px;
}
.woocommerce-result-count {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 30px;
    padding: 17px 0;
    text-transform: uppercase;
    width: auto;
}
div.wpcf7-validation-errors{width:100%;float:left;}


.widget_soccercity_recent_comment_widget{

}
.kode-recent-comment-widget{
	float: left;
	width: 100%;
}
.kode-recent-comment-widget .recent-comment-widget-thumbnail{
	float: right;
	width: auto;
}
.kode-recent-comment-widget .recent-comment-widget-content{
	float: none;
	padding: 0px 70px 0px 0px;
	margin: 15px 0px;
}
.woocommerce span.onsale,
.woocommerce ul.products li.product span.onsale{
    display: block;
    height: 40px;
    left: 15px;
    line-height: 50px;
    padding: 0;
    top: 15px;
    width: 40px;
    z-index: 10;
}
.related.products h2,
.woocommerce-Tabs-panel h2,
.woocommerce div.product .product_title {
	float: left;
	width: 100%;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.woocommerce-Tabs-panel h2{
	width: 100%;
	float: left;
}
.related.products h2{
	margin-bottom: 27px;
}
.woocommerce div.product form.cart .button{
	height: 47px;
	margin:0;
	padding: 14px 20px;
	background-color: transparent !important;
}
.woocommerce div.product form.cart .button:hover{
	color: #fff !important;
}
.woocommerce div.product form.cart div.quantity{
	margin-right: 20px;
}
.product_meta{
	float: left;
	width: 100%;
}
.product_meta .tagged_as,
.product_meta .sku_wrapper{
	width: 100%;
}
.product_meta .tagged_as,
.product_meta .posted_in,
.product_meta .sku_wrapper {
	float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product_meta .tagged_as a,
.product_meta a{
	font-size: 14px;
	margin: 0 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs{
	padding: 0;
	margin-left: 0;
	border:none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	border-radius: 0;
	border:none!important;
	margin: 0;
	padding: 0 !important;
	line-height: normal;
	float: left;
	width: auto;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before{
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	float: left;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding:10px 15px;
	color: #fff;
	background-color: #f2f2f2;
	transition: all 0.3s ease-in-out;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{
	color: #515151;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	color: #fff !important;
}



.woocommerce-tabs{
	padding: 10px 0 0; 
}
.comment-form-email{
	padding-left: 15px;
	width: 50%;
}
.comment-form-author{
	width: 50%;
	padding-right: 15px;
}
.comment-form-email input,
.comment-form-comment textarea,
.comment-form-author > input {
    -moz-appearance: none;
    border: 1px solid #d7d8d8;
    float: left;
    min-height: 53px;
    padding: 14px 25px 15px;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
}
.woocommerce-Reviews .comment-form-comment textarea{
	min-height: 200px;
}
.woocommerce-Reviews .comment-reply-title {
    float: left;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    font-size: 22px;
}
.woocommerce-Reviews #reply-title a {
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    padding: 3px 10px;
}
.woocommerce-Reviews #reply-title a:hover{
	background-color: #000;
	color: #fff;
}
a.button.wc-forward:hover{
	color: #fff;
	background-color: #000 !important;
}
.woocommerce .coupon {
    float: left;
    text-align: left;
    width: auto;
}
.woocommerce .coupon p > label {
    float: left;
    font-weight: bold;
    line-height: normal;
    margin:0 15px 0 0;
    text-transform: uppercase;
    width: auto;
    padding: 16px 0;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	width: auto !important;
	margin-right: 15px !important; 
}
.woocommerce .cart .button, .woocommerce .coupon input.button{
	float: left;
}
.woocommerce .cart .button, .woocommerce .cart input.button{
	float: right;
	margin:0 0 0;
	width: auto;
}
.woocommerce .cart .button, .woocommerce .cart input.button:hover{
	background-color: #000 !important;
	color: #fff !important;
}
.woocommerce td.actions > p{
	float: left;
	width: auto;
	margin: 35px 28px 0;
}
.cart_totals.calculated_shipping {
    float: left;
    width: 100%;
}
.checkout-button.button.alt.wc-forward {
    background: transparent none repeat scroll 0 0;
    float: right;
    line-height: normal;
    padding: 10px 20px;
    text-transform: uppercase;
    width: auto;
    margin: 15px 0 30px 0;
}
.em-wrapper{
	float: left;
	width: 100%;
}
.css-tags-list{
	float: left;
	width: 100%;
	margin: 0 0 30px;
}
.css-my-bookings{
	float: left;
	width: 100%;
	margin: 0 0 30px;
}
.css-my-bookings p{
	float: left;
	width: 100%;
	text-transform: capitalize;
	line-height: normal;
}
div.css-search{
	padding: 10px;
}
div.css-search.has-advanced div.em-search-main {
    border-bottom: 1px solid #dedede;
    float: left;
    padding-bottom: 17px;
    width: 100%;
}
.woocommerce-MyAccount-navigation > ul {
    float: left;
    list-style: outside none none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid;
}

.woocommerce-MyAccount-content{
	float: left;
	width: 100%;
}
.woocommerce .woocommerce-MyAccount-content  .woocommerce-info{
	border:none;
}
.woocommerce-MyAccount-navigation > ul li {
    display: inline-block;
    float: none;
    line-height: normal;
    width: auto;
    margin-bottom: -5px;
}
.woocommerce-MyAccount-navigation > ul li a{
	float: left;
	width: 100%;
	text-transform: uppercase;
	line-height: normal;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	padding: 10px 15px;
}
.woocommerce-MyAccount-navigation > ul li.is-active a{
	color: #fff;
}
.woocommerce-MyAccount-content .button{
	min-height: auto;
	width: auto;
}
.woocommerce-MyAccount-content form h3{
	float: left;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	line-height: normal;
	font-weight: bold;
}
.woocommerce-MyAccount-content > p{
	margin: 15px 0;
}
.woocommerce-MyAccount-content p a,
.woocommerce-MyAccount-content p strong {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.woocommerce-MyAccount-content p a:hover{
	color: #000;
}
.woocommerce-account .addresses .title h3 {
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}
.woocommerce-MyAccount-content .woocommerce form .form-row label {
    line-height: normal;
    margin: 0;
}
.cart-empty{
	float: left;
	font-weight: bold;
	width: 100%;
	font-size: 16px;
	text-transform: capitalize;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	background-color: transparent;
	border:1px solid !important;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
	color: #fff !important;
}
.woocommerce form.login p.form-row input{
	width: auto;
	height: auto;
}
.woocommerce form.login p.woocommerce-FormRow--wide.form-row input{
	width: 100%;
	height: 40px;
}
.woocommerce form .form-row label.inline {
    margin-left: 15px;
    position: relative;
    top: -7px;
}
.woocommerce form.login p.lost_password {
    float: right;
    position: relative;
    top: -45px;
    width: auto;
}
.woocommerce form.login p.lost_password a{
	float: left;
	width: 100%;
	font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
.price del,
.price ins{
	font-weight: bold;
	font-size: 20px;
	display: inline-block !important;
	width: auto;
	margin: 0 7px;
}
.price del{
	font-size: 16px;
}
.woocommerce div.product .woocommerce-tabs .panel {
    float: left;
    padding: 20px 20px 15px !important;
    width: 100%;
}
.comment-notes{
	float: left;
	width: 100%;
}
.comment-notes span{
	float: left;
	width: 100%;
}
#review_form  .wp-social-login-provider-list{
	padding: 0 !important;
}
#review_form .wp-social-login-widget{
	padding: 0;
}
.comment-notes span {
    display: inline-block;
    float: none;
    width: auto;
    margin-right: 5px;
}
.woocommerce #review_form #respond p{
	float: left;
	width: 100%;
	padding: 0;
}
.comment-form-email,
.comment-form-author{
	width: 48% !important;
}
.comment-form-email{
	float: right !important;
}
.woocommerce #review_form #respond .selectric p{
	margin:0 !important; 
	padding: 0 15px;
}
.woocommerce #review_form #respond .form-submit input{
	background: transparent !important;
}
.woocommerce #review_form #respond p .stars{
	float: none;
	display: inline-block;
	width: auto !important;
	margin: 0 0 0 15px;
}
.woocommerce #review_form #respond p .selectric-wrapper{
	float: right;
	width: auto;
	min-width: 30%;
}
.woocommerce .coupon label {
    float: left;
    margin-right: 25px;
    padding: 11px 0 0;
}
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce .coupon .submit{
	background-color: transparent !important;
}
.cart_totals  h2{
	float: left;
	width: 100%;
	font-size: 20px;
	margin: 0 0 25px;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message{
	float: left;
	width: 100% !important;
}
.woocommerce form .form-row .input-checkbox{
	float: left;
	width: auto;
}
.woocommerce form .form-row .checkbox{
	float: left;
	width: auto;
}
.woocommerce .woocommerce-info {
    float: left;
    width: 100% !important;
}
.woocommerce-checkout #payment ul.payment_methods li input{
	width: auto !important;
	height: auto;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal{
	margin-left: 15px !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: transparent !important;
	width: auto !important;
}
#s2id_billing_country{
	display: none !important;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
	float: left;
	width: 100%;
}
.woocommerce form.login p.form-row input[type="password"],
.woocommerce form.login p.form-row input[type="text"]{
	width: 100%;
}
.product-categories{
	float: left;
	width: 100%;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.kode-center-content-tf{
	float:none;
	display:inline-block;
}