/*
	  ==============================================================
		   Widgets
	  ==============================================================
*/
.edu2_ft_topbar_wrap{
	float: left;
	width: 100%;
	padding:30px 0;  
	margin-top:0px;
	border-bottom: 1px solid #7a7a7a;
}
.edu2_ft_topbar_des{
	float: left;
	width: 100%;
	text-align: center;
}
.edu2_ft_topbar_des h5{
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 13px 0px;
	margin:0px;
	text-align: left;
}
.edu2_ft_topbar_des form{
	float: left;
	width: 100%;
	position: relative;
}
.edu2_ft_topbar_des form input[type=email]{
	float: left;
	width: 100%;
	border:1px solid #fff;
	padding:7px 125px 7px 15px;
	color: #fff;  
	font-size: 16px;
	text-transform: capitalize;
	background-color: transparent;
	height: 50px;
	font-size: 14px !important;
	box-shadow: none;
}


.edu2_ft_topbar_des input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.edu2_ft_topbar_des input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.edu2_ft_topbar_des input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.edu2_ft_topbar_des input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}



.edu2_ft_topbar_des form input[type="email"]:focus{
	border-color: #fff !important;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3)
}
.edu2_ft_topbar_des form button{
	position: absolute;
	padding:0 15px ;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff; 
	right: 0;
	top: 0;
	height: 100%;
	vertical-align: middle;
	border-left:1px solid #fff;
	height: 100%;
	background-color: transparent;
}
.edu2_ft_topbar_des form button i{
	margin-right: 15px;
	font-size: 16px;
	color: #fff;
	margin-top: 1px;
}
/*FOOTER CONTANT START*/

.edu2_footer_contant_des{
	float: left;
	width: 100%;
}
.edu2_footer_heading{
	float: left;
	width: 100%;
	text-align: left;
	
}

footer .widget h5{
	text-transform: uppercase;
	color: #fff;
	margin: 0px 0 30px;
}
.widget-links ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: -4px 0 0 0;
}
.widget-links ul li{
	float: left;
	width: 100%;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	color: #f9f9f9;
	text-transform: capitalize;
	list-style:none;
}
.widget-links ul li a:before{
	content: "\f105";
	position: absolute;
	left: 0px;
	top: 5px;
	font-family: FontAwesome;
}
.widget-links ul li a:hover:before{
	left: 10px;
}
.instagram li a{
	display:block;	
}
.widget-links ul li:last-child{
	margin: 0;
}
.widget-links ul li a{
	display: inline-block;
	font-weight: normal;
	color: #f9f9f9;
	text-transform: capitalize;
	position: relative;
	padding: 5px 0px 5px 15px;
	font-size: 14px;
}
.widget-links ul li a:hover{
	padding-left: 20px;
}
.wiget-instagram,
.wiget-instagram ul{
	float: left;
	width: 100%;
	padding-top:6px; 
	margin-bottom:-10px;
}
.wiget-instagram .flickr_badge_image,
.wiget-instagram ul li {
	float: left;
    margin: 0 10px 10px 0 !important;
    width: 72px;
    padding: 0px;
    background-color: #000;
}

.wiget-instagram ul li:hover a{
	padding: 0px;
}
.wiget-instagram .flickr_badge_image:hover img,
.wiget-instagram ul li:hover img{
	opacity: 0.5;
}

.widget-contact{

}
.widget-contact ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget-contact ul li{
	float: left;
	width: 100%;
	margin-top: 10px;
	color:#f9f9f9;
}
.widget-contact ul li a{
	color:#f9f9f9;
}
.widget-contact ul li:first-child{
	margin: 0px;
}
/*copy right wrap*/
.edu2_copyright_wrap{
	float: left;
	width: 100%;
	padding:30px 0 30px; 
	background-color: #000;
}
.edu2_ft_logo_wrap{
	float: left;
	width: 100%;
	text-align: left;
	width: 80px;
	padding:1px 0 0 0 ; 
}
.copyright_des {
    float: left;
    padding: 11.5px 0;
    text-align: center;
    width: 100%;
    line-height: 16px;
	color:#fff;
}
.copyright_des span{
	display: block;
	text-align: center;
	color: #f9f9f9;
	font-weight: normal;
	text-transform: capitalize;
}
.copyright_des span a{
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
.cards_wrap{
	float: left;
	width: 100%;
	margin:0px;
	padding:5px 0 5px; 
}
.cards_wrap li{
	display: inline-block;
	margin-right: 4px;
}
.cards_wrap li:last-child{
	margin-right: 0;
}
.cards_wrap li a{
	position: relative;
}

















/*Default Widget Styling For Test Unit*/
.widget_nav_menu ul,
.widget_rss ul,
.widget_pages ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.widget_nav_menu ul ul,
.widget_pages ul ul,
.widget_meta ul ul,
.widget_recent_comments ul ul,
.widget_archive ul ul,
.widget_categories ul ul,
.widget_recent_entries ul ul{
    padding-left: 15px;
    margin: 5px 0px 0px 0px;
}
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_recent_entries ul li{
    float: left;
    width: 100%;
    overflow: hidden;
    line-height: 16px;
    text-align: right;
    padding: 10px 0px 0px;
}
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_recent_entries ul li,
.widget_nav_menu ul ul li:first-child,
.widget_pages ul ul li:first-child,
.widget_meta ul ul li:first-child,
.widget_recent_comments ul ul li:first-child,
.widget_categories ul ul li:first-child,
.widget_archive ul ul li:first-child,
.widget_recent_entries ul ul li:first-child{
    border-top: 1px solid rgba(0,0,0,0.1);	
}
footer .widget_nav_menu ul ul li:first-child,
footer .widget_pages ul ul li:first-child,
footer .widget_meta ul ul li:first-child,
footer .widget_recent_comments ul ul li:first-child,
footer .widget_categories ul ul li:first-child,
footer .widget_archive ul ul li:first-child,
footer .widget_recent_entries ul ul li:first-child,
footer .widget_nav_menu ul li,
footer .widget_pages ul li,
footer .widget_meta ul li,
footer .widget_recent_comments ul li,
footer .widget_archive ul li,
footer .widget_categories ul li,
footer .widget_recent_entries ul li{
	border-top: 1px solid rgba(255,255,255,1);
}

.widget_nav_menu ul:first-child,
.widget_pages ul li:first-child,
.widget_meta ul li:first-child,
.widget_recent_comments ul li:first-child,
.widget_categories ul li:first-child,
.widget_archive ul li:first-child,
.widget_recent_entries ul li:first-child{
	border:none;
}
.widget_pages ul li:hover,
.widget_meta ul li:hover,
.widget_categories ul li:hover,
.widget_archive ul li:hover,
.widget_recent_entries ul li:hover{
    padding-left: 10px;
}
/*Left Padding 0 on Hover*/
.widget_recent_comments ul li:hover,
.widget_recent_entries ul li:hover{
	padding-left: 0;
}
.widget_pages ul li:hover > a{
	color: #fff;
}
.widget_pages ul li:hover > a:before{
	color: currentColor;
}
.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_recent_comments ul li a,
.widget_recent_entries ul li a {
    float: left;
    width: auto ;
    color: #666;
    font-size: 14px;
    text-align: left;
    font-weight: normal;    
    padding-left: 15px;
    position: relative;
    line-height: normal;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.widget_nav_menu ul li a:before,
.widget_pages ul li a:before,
.widget_meta ul li a:before,
.widget_categories ul li a:before,
.widget_archive ul li a:before,
.widget_recent_entries ul li a::before {
    top: 50%;
    left: 0px;
    content: "\f105";
    font-size: 14px;
    margin: -7px 0 0;
    position: absolute;
	color: currentColor; 
    font-family: "FontAwesome";
}
.widget_categories ul li a:before{
	content: "\f0da";
}
.widget_archive ul li:hover{
	background: #f3f2f2;
}


.widget_categories ul li:hover,
.widget_categories ul li:hover > a{
	color: #fff;
}
/*WIDGET RECENT COMMENTS*/
.widget_recent_comments ul li {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 11px;
    text-align: left;
    text-transform: capitalize;
}
.widget_recent_comments ul li a{
	float: none !important;
    background: transparent;
    display: inline-block;
    margin-bottom: 0;
    padding: 0 5px;
}
.widget_recent_comments ul li span a{
	padding-left: 0;
}
/*Widget Rss*/
.widget_rss ul li {
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
    text-align: left !important;
    text-transform: capitalize;
    width: 100%;
}
.screen-reader-text,
.calendar_wrap  caption{
	color: #333;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.rss-date{
	float: left;
	width: 100%;
	color: #666;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	text-transform: capitalize;
}
.rsswidget{
	float: left;
	width: 100%;
	color: #333;
	font-size:18px;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.widget-title a.rsswidget{
	margin-right: 10px;
	width: auto;
}
.textwidget strong{
	float: left;
	width: 100%;
	color: #666;
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: capitalize;
}
.widget_archive .selectric-wrapper ul li,
.widget_categories .selectric-wrapper ul li {
    float: left;
    padding: 15px;
    text-align: left;
}
.widget_archive .selectric-wrapper ul li:hover,
.widget_categories .selectric-wrapper ul li:hover{
	padding: 15px;
	color: #fff !important;
}
.selectric .button{
	padding-top: 11px;
}
footer .widget_archive .selectric-wrapper ul li,
footer .widget_categories .selectric-wrapper ul li{
	color: #333 !important;
}
footer .widget_search input[type="text"], 
footer .widget-search input[type="search"],
footer .widget_text .selectric-wrapper,
footer .widget_categories .selectric-wrapper,
footer .widget_archive .selectric-wrapper{
	background-color: transparent;
}

/*Side Bar COLOR*/
.kode-sidebar-menu-element .widget_tag_cloud .tagcloud a,
.kode-sidebar-menu-element .newsletter_dec .radio_style2 .radio_dec > span,
.kode-sidebar-menu-element .newsletter_dec em,
.kode-sidebar-menu-element .newsletter_dec h6,
.kode-sidebar-menu-element .newsletter_dec p,
.kode-sidebar-menu-element .textwidget select,
.kode-sidebar-menu-element .textwidget select option,
.kode-sidebar-menu-element .widget_pages ul li a::before,
.kode-sidebar-menu-element .widget_pages ul li a,
.kode-sidebar-menu-element .widget_nav_menu ul li a,
.kode-sidebar-menu-element #archives-dropdown--1,
.kode-sidebar-menu-element #archives-dropdown--1 option,
.kode-sidebar-menu-element #cat,
.kode-sidebar-menu-element #cat option,
.kode-sidebar-menu-element .widget_nav_menu ul li a,
.kode-sidebar-menu-element .widget_categories ul li,
.kode-sidebar-menu-element .screen-reader-text,
.kode-sidebar-menu-element #wp-calendar th,
.kode-sidebar-menu-element .calendar_wrap  caption,
.kode-sidebar-menu-element .textwidget strong,
.kode-sidebar-menu-element .rsswidget,
.kode-sidebar-menu-element .rss-date,
.kode-sidebar-menu-element .rssSummary,
.kode-sidebar-menu-element .calendar_wrap  .caption,
.kode-sidebar-menu-element .calendar_wrap td,
.kode-sidebar-menu-element .widget_archive ul li a,
.kode-sidebar-menu-element .widget_recent_comments li a,
.kode-sidebar-menu-element .widget_meta ul li a,
.kode-sidebar-menu-element .widget_categories ul li a ,
.kode-sidebar-menu-element .widget_recent_entries ul li a,
.kode-sidebar-menu-element .prev,
.kode-sidebar-menu-element #next,
.kode-sidebar-menu-element #next a,
.kode-sidebar-menu-element #wp-calendar a,
.kode-sidebar-menu-element #prev a,
.kode-sidebar-menu-element cite,
.kode-sidebar-menu-element .widget-search .kode-search input[type="text"]
{
	color: inherit;
}
/*Footer Widget*/
footer .widget{
	margin-bottom: 30px;
}
footer .widget_text select,
footer #cat option,
footer #archives-dropdown--1 option,
footer .textwidget select option{
	background: #999;
}
#wp-calendar .pad,
footer #cat,
footer .calendar_wrap thead tr,
footer .textwidget select,
footer #archives-dropdown--1,
footer .widget_text select{
	background-color: transparent ;
}
/*FOOTER COLOR*/
footer .widget_text .selectric .button,
footer .widget_text .selectric .label,
footer .widget_categories .selectric .button,
footer .widget_categories .selectric .label,
footer .widget_archive .selectric .label,
footer .widget_archive .selectric .button,
footer .widget_tag_cloud .tagcloud a,
footer .newsletter_dec .radio_style2 .radio_dec > span,
footer .newsletter_dec em,
footer .newsletter_dec h6,
footer .newsletter_dec p,
footer .textwidget select,
footer .textwidget select option,
footer .widget_pages ul li a::before,
footer .widget_pages ul li a,
footer .widget_nav_menu ul li a,
footer #archives-dropdown--1,
footer #archives-dropdown--1 option,
footer #cat,
footer #cat option,
footer .widget_nav_menu ul li a,
footer .widget_categories ul li,
footer .screen-reader-text,
footer #wp-calendar th,
footer .calendar_wrap  caption,
footer .textwidget strong,
footer .rsswidget,
footer .rss-date,
footer .rssSummary,
footer .calendar_wrap  .caption,
footer .calendar_wrap td,
footer .widget_archive ul li,
footer .widget_archive ul li a,
footer .widget_recent_comments li,
footer .widget_recent_comments li a,
footer .widget_meta ul li a,
footer .widget_meta ul li,
footer .widget_categories ul li,
footer .widget_categories ul li a ,
footer .widget_recent_entries ul li,
footer .widget_recent_entries ul li a,
footer .prev,
footer #next,
footer #next a,
footer #wp-calendar a,
footer #prev a,
footer cite,
footer .textwidget p,
footer .widget_recent_comments ul li,
footer .widget-search .kode-search input[type="text"]
{
	color: #fff;
}
footer .widget_archive li,
footer #wp-calendar,
footer #wp-calendar th,
footer .calendar_wrap tr td{
	border-color: #fff;
}
#wp-calendar th{
	color: #fff !important;
}
.screen-reader-text{
	display:none;
}

#calendar_wrap #today{
	color: #fff;
}
.calendar_wrap td:hover a,
.calendar_wrap td:hover{
	color: #fff;
}


/*FOOTER COLOR*/
.side-navigation .widget_text .selectric .button,
.side-navigation .widget_text .selectric .label,
.side-navigation .widget_categories .selectric .button,
.side-navigation .widget_categories .selectric .label,
.side-navigation .widget_archive .selectric .label,
.side-navigation .widget_archive .selectric .button,
.side-navigation .widget_tag_cloud .tagcloud a,
.side-navigation .newsletter_dec .radio_style2 .radio_dec > span,
.side-navigation .newsletter_dec em,
.side-navigation .newsletter_dec h6,
.side-navigation .newsletter_dec p,
.side-navigation .textwidget select,
.side-navigation .textwidget select option,
.side-navigation .widget_pages ul li a::before,
.side-navigation .widget_pages ul li a,
.side-navigation .widget_nav_menu ul li a,
.side-navigation #archives-dropdown--1,
.side-navigation #archives-dropdown--1 option,
.side-navigation #cat,
.side-navigation #cat option,
.side-navigation .widget_nav_menu ul li a,
.side-navigation .widget_categories ul li,
.side-navigationoter .screen-reader-text,
.side-navigation #wp-calendar th,
.side-navigation .calendar_wrap  caption,
.side-navigation .textwidget strong,
.side-navigation .rsswidget,
.side-navigation .rss-date,
.side-navigation .rssSummary,
.side-navigation .calendar_wrap  .caption,
.side-navigation .calendar_wrap td,
.side-navigation .widget_archive ul li,
.side-navigation .widget_archive ul li a,
.side-navigation .widget_recent_comments li,
.side-navigation .widget_recent_comments li a,
.side-navigation .widget_meta ul li a,
.side-navigation .widget_meta ul li,
.side-navigation .widget_categories ul li,
.side-navigation .widget_categories ul li a ,
.side-navigation .widget_recent_entries ul li,
.side-navigation .widget_recent_entries ul li a,
.side-navigation .prev,
.side-navigation #next,
.side-navigation #next a,
.side-navigation #wp-calendar a,
.side-navigation #prev a,
.side-navigation cite,
.side-navigation .textwidget p,
.side-navigation .widget_recent_comments ul li,
.side-navigation .widget-search .kode-search input[type="text"]
{
	color: #fff;
}
.side-navigation .widget_archive .selectric-wrapper ul li,
.side-navigation .widget_categories .selectric-wrapper ul li{
	color: #333 !important;
}
.side-navigation .widget_archive li,
.side-navigation #wp-calendar,
.side-navigation #wp-calendar th,
.side-navigation .calendar_wrap tr td{
	border-color: #fff;
}
.side-navigation #cat,
.side-navigation .widget_search input[type="text"], 
.side-navigation .widget-search input[type="search"],
.side-navigation .widget_text .selectric-wrapper,
.side-navigation .widget_categories .selectric-wrapper,
.side-navigation .widget_archive .selectric-wrapper,
.side-navigation .calendar_wrap thead tr,
.side-navigation .textwidget select,
.side-navigation #archives-dropdown--1,
.side-navigation .widget_text select{
	background-color: transparent ;
}












.side-navigation .widget_archive ul li:hover > a,
.widget_nav_menu ul li:hover > a,
.widget_rss li:hover .rsswidget,
.widget_recent_entries ul li:hover > a,
.widget_meta ul li:hover > a,
.widget_recent_comments ul li:hover a{
	color: #e79800 !important;
}
.calendar_wrap td:hover,
.calendar_wrap #today,
#calendar_wrap #today,
#wp-calendar th,
.widget_pages ul li:hover{
	background-color: #e79800 !important;
}
.widget_archive li,
#wp-calendar,
#wp-calendar th,
.calendar_wrap tr td,
.wiget-instagram .flickr_badge_image img,
.wiget-instagram ul li img,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_recent_entries ul li,
.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_recent_comments ul li a,
.widget_recent_entries ul li a,
.widget_nav_menu ul li a:before,
.widget_pages ul li a:before,
.widget_meta ul li a:before,
.widget_categories ul li a:before,
.widget_archive ul li a:before,
.widget_recent_entries ul li a::before
{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.kf_sticky .logo,.header-sticky .kf_sticky,.kf_sticky .navbar-nav > li,.kf_sticky .kd-search{
		-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.header-sticky #header_2.kf_sticky{
	position:fixed;
	top:0px;
	left:0px;
	z-index:999999;
}