.container{
	padding: 0px 10px;
}
.column, .columns{
	float: left;
	position: relative;
	margin-bottom: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:5px;
}
.row .one-fifth{width: 20%; }
.row .two-fifth{width: 40%; }
.row .three-fifth{width: 60%; }
.row .four-fifth{width: 80%; }
.row .three{width: 25%; }
.row .four{width: 33.333%; }
.row .six{width: 50%; }
.row .eight{width: 66.667%; }
.row .nine {width: 75%; }
.row .tweleve{width: 100%; }
.kode-item{min-height: 1px; }
.clear{
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	zoom: 1;
}
.clear-fix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.kode-first{
	clear: left;
}
#page-builder .inside{
	padding: 0px;
	margin: 0px;
	background-color: #f1f1f1;
}
.header-class .page-builder-head-wrapper{ 
	padding:0px;
}
.page-builder-head-wrapper{
	padding: 12px 22px;
	position: relative;
	color:#fff;
}
.page-builder-head-wrapper .page-builder-head{
	font-size: 15px;
	font-weight: bold;
	line-height: 20px; 
	margin: 0px;
	padding-left: 0px;
	background-position: 0px center;
	background-repeat: no-repeat;
}
.page-builder-creator .item-selector-wrapper{
	float: left;
	padding:20px;
}
.page-builder-creator .item-selector-header{
	font-size: 14px;
	font-weight: bold;
	color: #7a7a7a; 
	margin: 10px 0px;
}
.page-builder-creator input[type="button"]{
	width: 35px;
	height: 30px;
	padding: 1px;
	border: 0px;
	background: #0374A3;
	color: #ffffff;
	font-size: 20px;
	float: left;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	margin:1px 0px 0px 10px ;
}
.page-builder-creator .columns{
	padding:20px;
}
.chosen-container-single .chosen-single div b{
	background-position:0px 5px !important;
}
.item-selector-wrapper .kode-combobox-wrapper{
	float:left;
}
.page-builder-content{
	padding: 20px 10px 5px 10px;
	font-size: 12px;
	background:#fff;
}
.page-builder-content input{
	font-size: 12px;
	box-shadow: none;
}
.page-builder-content .content-section-wrapper{
	margin-bottom: 20px;
}
.page-builder-creator.row{
	background:#fff;
}
.page-builder-content .page-builder-item-area{
	margin-top: 20px;
	background-color: #fff;
	min-height: 100px;
	transition: background-color 300ms, margin 300ms;
	-moz-transition: background-color 300ms, margin 300ms;
	-o-transition: background-color 300ms, margin 300ms;
	-webkit-transition: background-color 300ms, margin 300ms;
}	
.page-builder-content .page-builder-item-area.blank{
	background-color: #aaa;
	margin: 0px 10px 0px;
}
#page-builder-default-item{
	display: none;
}
.kode-item-option{
	display: none;
}
.kode-sortable{
	position: relative;
}
.kode-draggable{
	cursor: move;
}
.kode-draggable .kode-delete-item:before{
	content: "\f00d";
}
.kode-draggable .kode-edit-item:before{
	content: "\f013";
}
.kode-draggable .kode-delete-item {
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 18px;
    position: absolute;
    right:8px;
    top: 30%;
}
.kode-draggable > .kode-item > .kode-draggable-head{
	float:left;
	color:#fff;
	min-height:200px;
	width:48px;
	position:relative;
	background:#34bbac;
	z-index:999;
}
.kode-draggable-wrapper[data-type="full-size-wrapper"]{
	margin:5px;
	float:left;
	overflow:hidden;
	position:relative;
	min-height:180px;
}
.kode-draggable-wrapper[data-type="column1-1"] > .kode-item  > .kode-draggable-head > .kode-edit-item,
.kode-draggable-wrapper[data-type="full-size-wrapper"] .kode-item  > .kode-draggable-head > .kode-edit-item,
.kode-draggable-wrapper[data-type="parallax-bg-wrapper"] .kode-item  > .kode-draggable-head > .kode-edit-item{
	top: 10px;
    float: left;
    left: 17px;
    margin: auto;
    right: auto;
	font-size:18px;
}
.kode-draggable-wrapper[data-type="column1-1"] .kode-draggable-head .kode-edit-item{
	top:128px !important;
}
.kode-draggable-wrapper[data-type="full-size-wrapper"] > .kode-item  > .kode-draggable-head > .kode-delete-item,
.kode-draggable-wrapper[data-type="parallax-bg-wrapper"] > .kode-item  > .kode-draggable-head > .kode-delete-item{
	top:25% !important;
}
.kode-draggable-wrapper[data-type="column1-1"] > .kode-item  > .kode-draggable-head > .kode-clone-item{
	bottom:26px !important;
}
.kode-draggable-wrapper[data-type="column1-1"] > .kode-item  > .kode-draggable-head > .kode-delete-item{
	bottom:3px !important;
}
.kode-draggable-wrapper[data-type="column1-1"] > .kode-item  > .kode-draggable-head > .kode-draggable-text,
.kode-draggable-wrapper[data-type="full-size-wrapper"] > .kode-item  > .kode-draggable-head > .kode-clone-item,
.kode-draggable-wrapper[data-type="full-size-wrapper"] > .kode-item  > .kode-draggable-head > .kode-draggable-text,
.kode-draggable-wrapper[data-type="parallax-bg-wrapper"] > .kode-item  > .kode-draggable-head > .kode-draggable-text{
	display:none;
}
.kode-draggable > .kode-item > .kode-draggable-head > .kode-clone-item{
	bottom: 10px;
    float: left;
    left: 17px;
    margin: auto;
    right: auto;
    top: auto;
	font-size:18px;
}
.kode-draggable > .kode-item > .kode-draggable-head > .kode-delete-item {
    bottom: 1px;
    float: left;
    left: 17px;
    margin: auto;
    right: auto;
    top: auto;
	font-size:18px;
}
.kode-draggable .kode-edit-item{	
	cursor: pointer;
	font-size: 18px;
    position: absolute;
    right: 30px;
    top: 30%;
	font-family: 'FontAwesome';
}
/*.kode-draggable-wrapper .kode-draggable-head{
	background: #f8f8f8;
	color: #5a5a5a; 
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	width:100%;
	float:left;
	display:none;
}*/
.kode-draggable-wrapper[data-type="color-wrapper"] .kode-draggable-head{
	background: #fffcf3;
}
.kode-draggable-wrapper[data-type="parallax-bg-wrapper"] .kode-draggable-head{
	background: #f3f9ff;
}
.kode-draggable-wrapper[data-type="color-wrapper"] .kode-draggable-wrapper .kode-draggable-head,	
.kode-draggable-wrapper[data-type="parallax-bg-wrapper"] .kode-draggable-wrapper .kode-draggable-head{
	background: #f8f8f8;
} 	
.kode-draggable-wrapper .kode-size-wrapper,
.kode-draggable-wrapper .kode-size-control{
	float: left;
}
.kode-draggable-wrapper .kode-size-text{	
	color: #929292;
	background: #ebebeb;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	padding: 12px;
	clear:both;
}
.kode-draggable-wrapper .kode-decrease-size:before{	
    position: absolute;
    left: 0px;
	right: 0px;
	bottom: 0px;
	margin:auto;
    top: 5px;
	font-family: 'FontAwesome';
	content: "\f068";
}
.kode-draggable-wrapper .kode-decrease-size{	
	background-color: #666;
	cursor: pointer;
	font-size: 15px;
    position: relative;
	font-family: 'FontAwesome';
}
.kode-draggable-wrapper .kode-increase-size:before{
	content: "\f067";
    position: absolute;
    left: 0px;
	right: 0px;
	bottom: 0px;
	margin:auto;
    top: 5px;
	font-family: 'FontAwesome';
}
.kode-draggable-wrapper .kode-decrease-size,
.kode-draggable-wrapper .kode-increase-size{
	width: 48px;
	height: 30px;
	cursor: pointer;
	text-align:center;
	position:relative;
}
.kode-draggable-wrapper .kode-draggable-text{
	overflow: hidden;
	line-height: 20px;
	height: 20px;
	padding: 12px 7px; 
	font-size: 12px;
	font-weight: bold;
}
.kode-draggable-wrapper .kode-draggable-text-input{
	background: transparent;
	border: none;
	width: 190px;
	max-width: 80%;
	height: 20px;
	padding: 0px 8px;
	display: block;
	color: #5a5a5a;
	box-shadow: none;
}
.kode-draggable-wrapper .kode-draggable-text-input:hover{
	background: #fff;
}
.kode-draggable-wrapper .kode-draggable-text-input:focus{
	background: #fff;	
	border: 1px solid #ddd;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.column, .columns,
.kode-draggable-text-input{
	transition: background-color 300ms, color 300ms;
	-moz-transition: background-color 300ms, color 300ms;
	-o-transition: background-color 300ms, color 300ms;
	-webkit-transition: background-color 300ms, color 300ms;
}			
.kode-inner-sortable{
	background: #e6e6e6; 
	min-height: 130px; 
	padding:10px 10px 0 55px; 
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
}	
.kode-inner-sortable .kode-draggable-item .kode-draggable-text{
	padding: 0px; 
	height: auto; 
}
.kode-inner-sortable .kode-inner-sortable{
	background: #ddd;
}	
.kode-draggable-item .kode-item{
	color: #fff;
	font-size: 12px; 
	font-weight: bold; 
	border-radius:5px;
	padding: 13px 65px 10px 14px;
	background: #666666; 
	border-bottom: 3px solid #999; 
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.kode-draggable-item .kode-draggable-text-input{
	background: transparent; 
	border: none; 
	width: 120px;
	max-width: 100%; 
	height: auto; 
	margin: 0px; 
	padding: 0px 8px; 
	display: block; 
	color: #ffffff;
}
.kode-draggable-item .kode-draggable-text-input:hover{
	background: #7d7d7d;
}
.kode-draggable-item .kode-draggable-text-input:focus{
	background: #fff;
	color: #555;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}	
.kode-input-hidden{
	display: none;
}
.kode-placeholder{
	background: #fffced;
	margin: 0px 10px;
}
.kode-inner-sortable > .color-wrapper-placeholder,
.kode-inner-sortable > .full-size-wrapper-placeholder,
.kode-inner-sortable > .parallax-bg-wrapper-placeholder,
.column1-5-sortable > .kode-placeholder-wrapper, .column1-4-sortable > .kode-placeholder-wrapper,
.column2-5-sortable > .kode-placeholder-wrapper, .column1-3-sortable > .kode-placeholder-wrapper,
.column1-2-sortable > .kode-placeholder-wrapper, .column3-5-sortable > .kode-placeholder-wrapper,
.column2-3-sortable > .kode-placeholder-wrapper, .column3-4-sortable > .kode-placeholder-wrapper,
.column4-5-sortable > .kode-placeholder-wrapper, .column1-1-sortable > .kode-placeholder-wrapper,
.column1-5-sortable > .kode-placeholder-wrapper div, .column1-4-sortable > .kode-placeholder-wrapper div,
.column2-5-sortable > .kode-placeholder-wrapper div, .column1-3-sortable > .kode-placeholder-wrapper div,
.column1-2-sortable > .kode-placeholder-wrapper div, .column3-5-sortable > .kode-placeholder-wrapper div,
.column2-3-sortable > .kode-placeholder-wrapper div, .column3-4-sortable > .kode-placeholder-wrapper div,
.column4-5-sortable > .kode-placeholder-wrapper div, .column1-1-sortable > .kode-placeholder-wrapper div{ 
	height: 0px !important; margin-bottom: 0px !important; overflow: hidden;
}
.add-more-tabs:hover,
.kdf-add-item:hover{
	background:#333;
	color:#fff;
}
.kdf-add-item {
    background: #0374a3 none repeat scroll 0 0;    
    float: left;
    margin-top: 10px;
	padding:10px 20px;	
	color: #fff;    
}
.kdf-add-item i{
	margin-right:5px;
}
.add-more-tabs:hover,
.kdf-add-item:hover{
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.kode-item {
    background: #0374A3;
    float: left;    
    width: 100%;
	position:relative;
}
.kode-list-item .k_list_item {
    background: #eee;
	cursor:pointer;
    color: #999;
    float: left;    
    margin-right: 10px;
	margin-bottom:15px;    
    padding: 7px;
    text-align: left;
    width: 143px;
	position:relative;
	z-index:100;
}

.kode-list-item .k_list_item:before{
	height:100%;
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:0px;
	opacity:0;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	background:#0073AA;
	z-index:-1;
}
.kode-list-item .k_list_item p,
.kode-list-item .k_list_item span{
		transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	font-size:15px;
	
}
.kode-list-item .k_list_item:hover p,
.kode-list-item .k_list_item:hover span{
	color:#fff;
}
.kode-list-item .k_list_item:hover:before{
	width:100%;
	opacity:1;	
}
.k_list_item > span {
    float:left;    
	margin-top:2px;
}
.k_list_item > p {    
    color: #000;
    font-size:13px;
    margin:0px 0 0 10px;
	float:left;
}
.tab-item-head .tab-item-head-open.active:before{
	content: "\f062";
}	
.tab-item-head .tab-item-head-open:before{	
	 content: "\f063";
}
.tab-item-head .tab-item-head-delete:before{
	content: "\f00d";
}
.tab-item-head .tab-item-head-open{
	right: 5%;
    top: 18px;
	font-size:20px !important;
}
.tab-item-head .tab-item-head-delete{
    right: 1%;
    top: 17px;
}
.tab-item-head .tab-item-head-open.active,
.tab-item-head .tab-item-head-open,
.tab-item-head .tab-item-head-delete {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: "fontawesome";
    font-size: 23px;
    position: absolute;
}
.tab-item-head .tab-item-head-text{
	color: #ffffff;
	font-size: 12px;
	font-weight: bold; 
	display: block;
	padding: 17px 20px 12px;
	cursor: pointer;
}
.tab-item-wrapper,
.tabs-container.ui-sortable{width:100%;float:left;padding:15px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.tab-item-head{background:#333;position:relative;}
.tab-item-wrapper .tab-item-content{ background: #fff; padding: 25px; }
.tab-item-wrapper .tab-item-content .edit-box-input-wrapper:last-child{ margin-bottom: 0px; }
.tabs-container .kode-placeholder{ margin: 0px 0px 25px; float: none; }
.kode-upload-img-sample {
	width:50px;
}


.panel-delete-sidebar{
	position:relative;
	float:left;
	font-size:16px;
	color:#fff;
	cursor:pointer;
}

.panel-delete-sidebar:before{
	content: "\f00d";
	font-family: "fontawesome";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}


#demo-page-option input[type="text"]{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	height: 36px;
}
#kode-save-settings{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
#kode-save-settings a{
	float:left;
}
#kode-load-demo{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
#kode-load-demo em{
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
#kode-load-demo input[type="button"]{
	float: left;
	padding: 6px 10px;
	border: none;
	background-color: #34bbac;
	color: #fff;
	margin: 2px 2px;
	border-radius: 3px;
}
#kode-load-demo  .custom-style input[type="button"]{
	padding: 6px 10px 6px 30px;
}
#kode-load-demo  .custom-style{
	position: relative;
}
#kode-load-demo  .custom-style .panel-delete-sidebar{
	position: absolute;
	left: 10px;
	top: 8px;

}

/*Colors*/
.edit-box-title-wrapper .edit-box-title,
.edit-box-title-wrapper{
	color:#fff;
}
.kode-draggable > .kode-item > .kode-draggable-head,
#kode-load-demo input[type="button"],
.edit-box-title-wrapper,
.kode-item,
a.kdf-button, .kdf-button,
.kode-page-option-title,
.page-builder-head-wrapper{
	background:#0B6B95;
}
.wp-pointer.wp-pointer-right,
body ~ .mce-container.mce-panel{
	z-index:99999999999999999 !important;
}


.kode-draggable .kode-clone-item:before{
	 content: "\f24d";
}
.kode-draggable .kode-clone-item{
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 16px;
    position: absolute;
    right:54px;
    top: 30%;
}


.kode-multi-fields .chosen-container{
	width:100% !important;
}
.full-width-sec{
	width:100%;
}

.edu-item-head{
	float:left;
	width:100%;
	
}
.kode-edu-item{
	float:left;
	background:#fff;
	width:100%;
	display: table;
	
}
.kode-edu-item ul li{
	width: 18.8%;
	display: table-cell;
	float: left;
}
.edu-item-head,
.edu-item-content{
	border-bottom:1px solid #eee;
	margin:0px;
	display: table-row;
	width:100%;
	float:left;
}
.kode-education-sub{
	float:left;
	width:100%;
}
.edu-item-content > li,
.edu-item-head > li{
	
    margin-bottom: 0;
    min-height: 30px;
    padding: 10px 15px;   
	
}
.edu-item-head > li{
	font-weight:bold;
	font-size:14px;
}
.kode-edu-item ul li > input{
	width: 100%;
}
.edu-subject-placeholder{
	display:none;
}
.kode-input-description{
	float:left;	
}
.kode-bars{
	 cursor: move;
}
.edu-item-content span,
.edu-item-head span {
    display: inline-block;
    margin-top: 6px;
}
.kode-edu-item ul li select{
	width: 100%;
}
.edu-item-head .kode-bars,
.edu-item-content .kode-bars{
	width:5%;
}
.header-class .page-builder-head-wrapper{ 
	padding:0px;
}
.page-builder-head-wrapper{
	padding: 12px 22px;
	position: relative;
	color:#fff;
}
.kode-hide-title .kode-option-title{
	display:none;
}